<% provide(:title, (@user.user_name)) %>

<p class="subject"><h1>ログイン情報</h1></p>
<div class="container">
  <div class="row">
    <div class="titlebar">
      <p class="date"><%= link_to "編集", edit_user_registration_path, class: "btn btn-lg btn1" %></p>
    </div>
    <table class="table table-bordered" id="table-user-description">
      <tbody>
        <tr>
        <th class="active col-md-2"><%= User.human_attribute_name :氏名 %></th>
          <td><%= @user.user_name %></td>
        </tr>
        <tr>
          <th class="active col-md-2"><%= User.human_attribute_name :メールアドレス %></th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%#= link_to "招待する", new_invitation_path(@user, @project), class: "btn btn-secondary", style: "margin: 10px;" %>
