<div class="box-counseling-index">
  <% if @counselings.present? %>
    <div class="d-flex justify-content-end mb-3 rwd-search-form">
      <%= form_with scope: :search, url: user_project_counselings_path(current_user,@project), method: :get, remote: true do |form| %>
        <%= form.hidden_field :search_type, :value => "counseling" %>
        
        <%= form.label :created_at, "相談受信日：", class: "mb-0" %>
        <%= form.date_field :created_at, placeholder: "受信日を入力", value: @search_params && @search_params[:created_at], class: "search-box rwd-search-box" %>                 

        <%= form.label :keywords, "キーワード：", class: "mb-0" %>
        <%= form.text_field :keywords, placeholder: "キーワードを入力", value: @search_params && @search_params[:keywords], class: "search-box rwd-search-box" %>
      
        <%= form.submit "検索", class: "btn btn-outline-orange rwd-submit-btn" %>
      <% end %>      
    </div>
    <div class="table-header">
      <div class="subject-name">
        件名
      </div>
      <div class="counseling-date">
        相談日
      </div>
      <div class="counseling-person">
        相談者
      </div>
      <div class="counseling-action">
        相談確認者/相談未確認者
      </div>
    </div>
    <div class="table-body">
      <% line_num = 0%>
      <% @counselings.each do |counseling|%>
        <% line_num += 1%>
        <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>">
          <div class="subject-name">
            <% if counseling.sender_id == current_user.id || counseling.counseling_confirmers.exists?(counseling_confirmer_id: current_user.id) %>
              <%= link_to counseling.title, user_project_counseling_path(@user, @project, counseling), class: "report-detail-link" %>
            <% else %>
              <%= counseling.title  %>
            <% end %>
          </div>
          <div class="counseling-date">
            <%= l(counseling.created_at, format: :long) %>
          </div>
          <div class="counseling-person">
            <%= counseling.sender_name %>
          </div>
          <div class="counseling-action">                      
            <%= counseling.checked_members.count %>人/
            <% count = @recipient_count[counseling.id] %>
            <%= "#{count}人" if count.present? %>
          </div>
        </div>
      <% end %>
    </div>
  <% else @counselings.blank?%>
    <P>相談履歴がありません。</P>
  <% end %>
  <div class="d-flex">
    <% if @counselings.present?%>
      <div class="paginate">
        <%= paginate @counselings, param_name: counseling_page('counseling'), remote: true %>
      </div>
    <% end %>
    <div class="ml-auto">
      <%= link_to "戻る", :back, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
