<% provide(:title, '相談一覧') %>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div id="flash-messages">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>"><%= message %></div>
  <% end %>
</div>

<div class="card-box">
  <!-- div class="box-project-select">
    <%#= form_with do |form| %>
      <%#= form.label :project_id, "プロジェクト選択：" %>
      <%#= form.collection_select(:project_id, @projects, :id, :name, {selected: @project.id},
      {class: "index-project-select-box", data: {user_id: "#{@user.id}", "turbolinks" => false, list_type: "counseling"}}) %>
    <%# end %>
  </div -->
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">相談一覧</h1>

  <div class="d-flex justify-content-end mb-3">
    <%= link_to "相談履歴", history_user_project_message_path(id: @project.id, project_id: @project.id, user_id: current_user.id), class: "btn btn-outline-orange" %>
  </div>



  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
        <a class="text-white active" id="you-addressee-tab" data-toggle="tab" href="#you-addressee" target="_blank" rel="external nofollow"  role="tab" aria-controls="you-addressee" aria-selected="true">▼ あなた宛の相談 ▼</a>
        </li>
        <li class="nav-item">
          <a class="text-white" id="counseling-tab" data-toggle="tab" href="#counseling" target="_blank" rel="external nofollow"  role="tab" aria-controls="counseling" aria-selected="false">▼ 全メンバーの相談 ▼</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <!-- あなた宛の相談一覧 -->
        <div class="tab-pane fade show active" id="you-addressee" role="tabpanel" aria-labelledby="you-addressee-tab">
          <div id="you-addressee-counselings-container">
            <%= render partial: 'projects/counselings/you_addressee_counselings', locals: { counselings: @you_addressee_counselings } %>
          </div>
        </div>
        <!-- 全メンバーの連絡 -->
        <div class="tab-pane fade" id="counseling" role="tabpanel" aria-labelledby="counseling-tab">
          <div id="counselings-container">
            <%= render partial: 'projects/counselings/all_counselings', locals: { counselings: @counselings } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
