<% provide(:title, "#{@project.project_name}_報告") %>

<div>
  <div>
    <div>
      <h1>相談を作成</h1>
    <%= form_with(model: @counseling, url: project_counselings_path(@project), local: true, method: :post) do |f| %>
      <div>
        <div>
          <%= f.label :send_to, "送信対象" %>
          <br>
          <%= f.collection_check_boxes :send_to, @member, :id, :user_name, include_hidden: false, class: "form-control", required: true %>
        </div>

        <div>
          <%= f.label :title, "概要" %>
          <%= f.text_field :title, min: 1, placeholder: "件名（30字以内）", class: "form-control", required: true %>
        </div>

        <div>
          <%= f.label :counseling_detail, "相談内容" %>
          <%= f.text_area :counseling_detail, min: 1, placeholder: "最大500文字", class: "form-control",rows: "10", required: true %>
        </div>
      </div>

      <div>
        <button type="button" class="btn btn-default btn-cancel">
          キャンセル
        </button>
          <%= f.submit "送信", class: "btn btn-primary btn-new" %>
      </div>
    <% end %>
  </div>
</div>
