<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="col-6 offset-3 p-4">
  <div class="card">
    <div class="card-header card-header-radius">
      <%= @counseling.title %>
    </div>
    <div class="container p-4 card-body">
      <h3 class="font-weight-bold counseling-title-box m-3 d-inline">内容</h3>
      <div class="card-text"><%= simple_format(@counseling.counseling_detail) %></div>
      <div id="read_button">
        <%= render partial: 'read' %>
      </div>  
      <div id="checked_members">
        <%= render partial: 'checker' %>
      </div>  
    </div>
  </div>
  <div class="text-right mr-4">
    <%= link_to "返信する", anchor: "reply_form" %>
  </div>
</div>
<div class="text-center">
  <%= link_to '戻る', user_project_messages_path(@user,@project),class: "btn btn-light btn-outline-secontary col-2 " %>
</div>

<div class="col-6 offset-3 p-4">  
  <!-- 返信一覧の表示 -->
  <% if @counseling_replies.size > 0 %>
    <%= render "/projects/counseling_replys/counseling_reply_list" %>
  <% end %>
  <!-- 返信フォームの表示 -->
  <%= render "/projects/counseling_replys/counseling_reply_form" %>
</div>