<p>■件名■</p>
<%= @counseling.title %>
<p>■内容■</p>
<%= @counseling.counseling_detail %>
<br>
<div id="read_button">
  <%= render partial: 'read' %>
</div>

<div id="checkers">
  <%= render partial: 'checker' %>
</div>
<p class="center" style="padding: 10px;"><%= link_to '戻る', user_project_messages_path(@user,@project),class: "btn btn-light btn-outline-dark col-2" %></p>