<% provide(:title, "Top") %>
  <div class="center jumbotron">
    <h1>報連相システム</h1>
      <p>このアプリケーションでは、登録されたユーザーの報連相を登録することができます。</p>
        <%= link_to "会員登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="row">
  <div class="col-md-6 col-md-offset-3 user-table">
    <%= form_with(model: @user, local: true) do |f| %>

      <%= f.label :email, class: "label-signup" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, class: "label-signup" %>
      <%= f.password_field :password, class: "form-control" %>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-signin" %>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
<% end %>


