<%= form_with(model: @project, url: user_project_path(@user, @project), local: true, method: :patch, id: "project-form") do |f| %>
  <%= f.hidden_field :project_leader_id, :value => current_user.id %>
  <div class="project form-body">
    <div class="project-detail">
      <%= f.label :project_name, "プロジェクト名", class: "project-name-label" %><span class="pl-2 font-weight-bold text-danger">必須</span>
      <%= f.text_field :project_name, class: "form-control project-name-text-box", placeholder: "最大20文字", maxlength: 20, required: true %>
    </div>

    <div class="project-detail">
      <%= f.label :description, "概要", class: "project-description-label" %><span class="pl-2 font-weight-bold text-danger">必須</span>
      <%= f.text_area :description, class: "form-control project-description-textarea-box", placeholder: "最大200文字", maxlength: 200, required: true %>
    </div>

    <div class='project-detail'>
      <%= f.label :project_report_frequency, "報告頻度" %><span class="pl-2 font-weight-bold text-danger">必須</span><br>
      <%= f.radio_button :report_frequency_selection, :edit_day, class: "project-radio", data: { user_id: "#{@user.id}", project_id: "#{@project.id}" } %>
      <%= f.label :report_frequency_selection_edit_day, "日数で設定", class: "project-radio-label" %>
      <%= f.radio_button :report_frequency_selection, :edit_week, checked: true, class: "project-radio", data: { user_id: "#{@user.id}", project_id: "#{@project.id}" } %>
      <%= f.label :report_frequency_selection_edit_week, "曜日で設定", class: "project-radio-label" %>
    </div>
    <div class="project-detail">
      <%= f.label :week_select, "報告日" %><span class="pl-2 font-weight-bold text-danger">必須</span>
      <div class="project-week-select">
        <div>毎週</div>
        <%= f.select(:week_select, options_for_select(ApplicationHelper.weeks.map{|c|[c]}, @project_next_report_date_week), {}, {class: 'form-control box-week', id: "project_week_select", required: true}) %>
        <%= f.hidden_field :project_report_frequency, :value => 7, id: "project_project_report_frequency" %>
        <div>曜日</div>
      </div>
    </div>

    <div class="project-detail">
      <div class="project-next-report-date">
        <a id="project-next-report-date">
          <% week = ApplicationHelper.weeks[@project.project_next_report_date.wday]%>
          <%= f.label :project_report_frequency, "次回報告日" %><br><%= @project.project_next_report_date.strftime("%Y年%-m月%d日(#{week})")%>
        </a>
        <%= f.hidden_field :project_next_report_date, :value => @project.project_next_report_date %>
      </div>
    </div>
  </div>
  <div class="text-right mt-3">
      <%= f.submit "保存", class: "btn btn-light btn-outline-orange col-2", id: "project-create" %>
  </div>
<% end %>
