<%= form_with(model: @project, url: user_projects_path(@user), local: true, method: :post, id: "project-form") do |f| %>
  <%= f.hidden_field :project_leader_id, :value => current_user.id %>
  <div class="modal-body">
    <div class="box-project-name">
      <%= f.label :project_name, "プロジェクト名：", class: "project-name-label" %>
      <%= f.text_field :project_name, class: "form-control project-name-text-box", placeholder: "最大20文字", maxlength: 20, required: true %>
    </div>

    <div class='box-project-radio'>
      <%= f.label :project_report_frequency, "報告頻度：" %>
      <%= f.radio_button :report_frequency_selection, :day, class: "project-radio", data: { user_id: "#{@user.id}"} %>
      <%= f.label :report_frequency_selection_day, "日数で設定", class: "project-radio-label" %>

      <%= f.radio_button :report_frequency_selection, :week, checked: true, class: "project-radio", data: { user_id: "#{@user.id}"} %>
      <%= f.label :report_frequency_selection_week, "曜日で設定", class: "project-radio-label" %>
    </div>
    <div class="box-project-report-frequency">
      <div class="weekly">毎週</div>
      <%= f.select(:week_select, options_for_select(ApplicationHelper.weeks.map{|c|[c]}, "月"), {}, {class: 'form-control box-week', required: true}) %>
      <%= f.hidden_field :project_report_frequency, :value => 7 %>
      <div class="weekday">曜日</div>
    </div>

    <div class="box-project-next-report-date">
      <a id="project-next-report-date">
        <% week = ApplicationHelper.weeks[Date.current.next_week(:monday).wday]%>
        次回報告日：<%= Date.current.next_week(:monday).strftime("%Y年%-m月%d日(#{week})")%>
      </a>
      <%= f.hidden_field :project_next_report_date, :value => Date.current.next_week(:monday) %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">
      キャンセル
    </button>
      <%= f.submit "新規登録", class: "btn btn-primary btn-new", id: "project-create" %>
  </div>
<% end %>
