<% provide(:title, 'プロジェクト一覧') %>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="box-project-index">
  <h1 class="center">プロジェクト一覧</h1>
  <div class="box-search">
    <%= form_with url: user_projects_path, method: :get, local: true do |form| %>
      <%= form.text_field :search, placeholder: "プロジェクト名を入力", class: "search-box" %>
      <%= form.submit "検索", class: "btn btn-outline-orange" %>
    <% end %>
  </div>
  <div class="table-header">
    <div class="project-name">
      プロジェクト名
    </div>
    <div class="project-next-report-date">
      次回報告日
    </div>
    <div class="project-news">
      お知らせ
    </div>
    <div class="project-action">
      アクション
    </div>
  </div>

  <div class="table-body">
    <% if @projects.present? %>
      <% line_num = 0%>
      <% @projects.each do |project|%>
        <% line_num += 1%>
        <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>">

          <%# === プロジェクト名 === %>
          <div class="project-name">
            <%= link_to "#{project.project_name}", user_project_path(@user, project.id), class: "project-detail-link" %>
          </div>

          <%# === 次回報告日 === %>
          <div class="project-next-report-date">
            <%= l(project.project_next_report_date, format: :long) %>
            <% if @report_statuses.find_by(project_id: project.id).has_submitted %>
              <span class="label_report-submitted">報告済み</span>
            <% else %>
              <span class="label_report-not-submitted">未報告</span>
            <% end %>
          </div>
          
          <%# === お知らせ === %>
          <div class="project-news">
            <% remanded_reports = project.reports.where(user_id: @user.id, remanded: true) %>
            <% if remanded_reports.count > 0 %>
                <% remanded_reports.each do |report| %>
                  <p><%= link_to "#{report.created_at.strftime("%Y年%m月%d日")}報告分", edit_user_project_report_path(@user, project, report) %>
                  <span>に修正依頼が来ています。</span></p>
                <% end %>
            <% end %>
            <% messages = project.messages.my_messages(@user) %>
            <% if messages.count > 0 %>
                <p><%= link_to "新着の連絡", user_project_messages_path(@user, project) %>
                <span>が<%= "#{messages.count}件あります。" %></span></p>
            <% end %>
            <% counselings = project.counselings.my_counselings(@user) %>
            <% if counselings.count > 0 %>
                <p><%= link_to "新着の相談", user_project_counselings_path(@user, project) %>
                <span>が<%= "#{counselings.count}件あります。" %></span></p>
            <% end %>
            <% counselings = project.counselings.my_counselings(@user) %>
            <% if remanded_reports.empty? && messages.empty? && counselings.empty? %>
                <p>無し</p>
            <% end %>
          </div>
          <%# === アクション === %>
            <div class="project-action">
              <%= link_to "編集", edit_user_project_path(@user, project), class: "btn btn-outline-orange" %>
              <%= link_to "削除", user_project_path(@user, project), method: :delete, data: { confirm: "このプロジェクトを削除します。よろしいですか？" }, class: "btn btn-outline-danger" %>
            </div>
        </div>
      <% end %>
    <% end %>
    <% if @projects.blank?%>
      <P>参画中のプロジェクトはありません。</P>
    <% end %>
  </div>
  <div class="index-footer">
    <% if @projects.present?%>
      <div class="paginate">
        <%= paginate @projects %>
      </div>
    <% end %>
    
    <%# begin %>
    <!--div data-turbolinks="false">
        <%= link_to "ユーザー情報", user_path(@user), class: "btn btn-light btn-outline-orange" %>
    </div-->
  </div>
</div>
<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
