<% provide(:title, 'All projects') %>

<%= content_for :side_menu do %>
  <%= render 'layouts/sidebar' %>
<% end %>

<div class="box-project-index">
  <div class="box-search">
    <%= form_with url: user_projects_path, method: :get, local: true do |form| %>
      <%= form.label :search, "プロジェクト名検索：", class: "search-label" %>
      <%= form.text_field :search, placeholder: "キーワードを入力", class: "search-box" %>
      <%= form.submit "検索", class: "btn btn-outline-orange" %>
    <% end %>
  </div>
  <div class="table-header">
    <div class="project-name">
      プロジェクト名
    </div>
    <div class="project-next-report-date">
      次回報告日
    </div>
    <div class="project-news">
      お知らせ
    </div>
  </div>
  <div class="table-body">
    <% if @projects.present? %>
      <% line_num = 0%>
      <% @projects.each do |project|%>
        <% line_num += 1%>
        <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>">
          <div class="project-name">
            <%= link_to "#{project.project_name}", user_project_path(@user, project.id), class: "project-detail-link" %>
          </div>
          <div class="project-next-report-date">
            <%= l(project.project_next_report_date, format: :long) %>
          </div>
          <div class="project-news">
            <% remanded_reports = project.reports.where(user_id: @user.id, remanded: true) %>
            <% if remanded_reports.count > 0 %>
                <% remanded_reports.each do |report| %>
                  <p><%= link_to "#{report.created_at.strftime("%Y年%m月%d日")}報告分", edit_user_project_report_path(@user, project, report) %>
                  <span>に修正依頼が来ています。</span></p>
                <% end %>
            <% end %>
            <% messages = project.messages.my_messages(@user) %>
            <% if messages.count > 0 %>
                <p><%= link_to "新着の連絡", user_project_messages_path(@user, project) %>
                <span>が<%= "#{messages.count}件あります。" %></span></p>
            <% end %>
            <% counselings = project.counselings.my_counselings(@user) %>
            <% if counselings.count > 0 %>
                <p><%= link_to "新着の相談", user_project_counselings_path(@user, project) %>
                <span>が<%= "#{counselings.count}件あります。" %></span></p>
            <% end %>
            <% counselings = project.counselings.my_counselings(@user) %>
            <% if remanded_reports.empty? && messages.empty? && counselings.empty? %>
                <p>無し</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @projects.blank?%>
      <P>参画中のプロジェクトはありません。</P>
    <% end %>
  </div>
  <div class="index-footer">
    <% if @projects.present?%>
      <div class="paginate">
        <%= paginate @projects %>
      </div>
    <% end %>
<<<<<<< HEAD
    
=======
    <%# begin %>
  <div class="back-btn">
      <%= link_to "戻る", :back, class: "btn btn-light btn-outline-secondary" %>
    </div>
    <div data-turbolinks="false">
        <%= link_to "ユーザー情報", user_path(@user), class: "btn btn-light btn-outline-orange" %>
      </div>
  </div>
</div>
<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
>>>>>>> 8fa0084ea2e805fc1c5a08c853a66e65646b57de
