<% provide(:title, @project.project_name) %>

<%= content_for :side_menu do %>
  <%= render 'project_show_sidebar' %>
<% end %>

<div class="card-box">
  <div class="card">
    <div class="card-header card-header-radius"><%= @project.project_name %></div>
    <div class="card-body">
      <div class="card-title">概要</div>
      <p class="card-text"><%= @project.description %></p>
      <div class="card-title">リーダー</div>
      <p class="card-text"><%= User.find(@project.project_leader_id).user_name %></p>
      <div class="card-title">報告頻度</div>
      <% if @project.project_report_frequency == 7 %>
        <p class="card-text">毎週<%= ApplicationHelper.weeks[@project.project_next_report_date.wday] %>曜日</p>
      <% else %>
        <p class="card-text"><%= @project.project_report_frequency %>日に１回</p>
      <% end %>
      <div class="card-title">メンバー</div>
      <p class="card-text">
        <% @member.each do |member| %>
          <span class="box-user-name"><%= member.user_name %></span>
        <% end %>
        <a href="#" class="card-link">Card link</a>
      </p>
    </div>
  </div>
</div>

<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
<%
=begin%>
<<<<<<< HEAD

 
<div>
  <%= link_to '一覧へ戻る', user_projects_path(@user, @project),class: "btn btn-light btn-outline-dark", style: "margin: 10px;" %>
  <h1><%= "■#{@project.project_name}■"%></h1>
</div>

<hr color="#eeeeee">
</pre>

<div style="display:flex">
  <div style="padding: 20px; border-right: solid; width: 20%;">

    <%= link_to "報告", new_user_project_report_path(@user, @project), class: "btn btn-primary button-p10", style: "margin: 10px;" %>
    <br>
    <%= link_to "連絡", new_user_project_message_path(@user, @project), class: "btn btn-secondary", style: "margin: 10px;" %>
    <br>
    <%= link_to "相談", new_user_project_counseling_path(@user, @project), class: "btn btn-success", style: "margin: 10px;" %>
    <br>
  <div style="margin: 10px;">

    <% if @remanded_reports.count > 0 %>
      <div class="block_contents">
        <p><%= "▼報告内容の手直し依頼が来ています。▼" %></p>
        <% @remanded_reports.each do |report| %>
          <p><%= link_to "#{report.created_at.strftime("%Y年%m月%d日")}報告分", edit_user_project_report_path(@user, @project, report) %>
          <span><%= report.remanded_reason %></span></p>
        <% end %>
      </div>
    <% end %>

    <div class="block_contents">
      <p><%= "▼報告の一覧▼" %></p>
      <%= link_to "報告一覧", user_project_reports_path(@project,current_user) %>
    </div>

    <br>

    <div class="block_contents">
      <p><%= "▼あなた宛の連絡(最新の#{@messages.count}件)▼" %></p>
      <table>
        <tbody>
          <% @messages.each do |message| %>
            <tr>
              <td>
                <%= link_to message.title, user_project_message_path(current_user,@project,message) %>
              </td>
              <td>
                <%= @member.find(message.sender_id).user_name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "連絡一覧", user_project_messages_path(current_user,@project) %>
    </div>

    <br>

    <div class="block_contents">
      <p><%= "▼あなた宛の連絡(最新の#{@counselings.count}件)▼" %></p>
      <table>
        <tbody>
          <% @counselings.each do |counseling| %>
            <tr>
              <td>
                <%= link_to counseling.title, user_project_counseling_path(current_user,@project,counseling) %>
              </td>
              <td>
                <%= @member.find(counseling.sender_id).user_name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "相談一覧", user_project_counselings_path(current_user,@project) %>
    </div>
  </div>
</div>

<%= link_to "招待する", new_invitation_path(@user, @project), class: "btn btn-secondary", style: "margin: 10px;" %>
<%= link_to "報告フォーマットを編集する", edit_project_report_format_path(@project), class: "btn btn-primary button-p10", style: "margin: 10px;" %>
</div>
=======
>>>>>>> 4d3ae039fa52e6c99599638757d0d50b3a336b3e 
<%
=end%>
