<% provide(:title, @project.project_name) %>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>
<div class="card-box">
  <h1 class="text-center">プロジェクト詳細</h1>
  <div class="card">
    <div class="card-header card-header-radius"><%= @project.project_name %></div>
    <div class="card-body">
      <%# リーダー交代リクエストが来ている場合にメッセージを表示 %>
      <% if @delegate.present? %>
        <div class="text-secondary" style="color: red;">重要なお知らせ</div>
        <div class="card-text">
          <p>
            リーダー交代のリクエストが来ています。
            <%= link_to "受認", accept_request_path(@user, @project, @delegate), method: :post %>
            <%= link_to "辞退", disown_request_path(@user, @project, @delegate), method: :post %>
          </p>
        </div>
      <% end %>
      
      <div class="text-secondary">概要</div>
      <p class="card-text"><%= @project.description %></p>
    
      <div class="text-secondary">リーダー</div>
      <p class="card-text"><%= User.find(@project.project_leader_id).user_name %></p>
    
      <div class="text-secondary">報告頻度</div>
      <% if @project.project_report_frequency == 7 %>
        <p class="card-text">毎週<%= ApplicationHelper.weeks[@project.project_next_report_date.wday] %>曜日</p>
      <% else %>
        <p class="card-text"><%= @project.project_report_frequency %>日に１回</p>
      <% end %>
      <div class="text-secondary">メンバー数</div>
      <% if @member.empty? %>
        <p class="card-text">メンバーはいません。</p>
      <% else %>
        <p class="card-text">
          <span class=""><%= @member.length %>名</span>
        </p>
      <% end %>
    </div>
  </div>
  <%# if project_leader? %>
    <%#= link_to "削除", user_project_path(current_user, @project), method: :delete, data: { confirm: "このプロジェクトを削除します。よろしいですか？" }, class: "btn btn-danger" %>
  <%# end %>
</div>

<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>

<!--

<hr color="#eeeeee">
</pre>
