<% provide(:title, @project.project_name) %>

<div class="container" style="margin-top: 20px;">
  <h1><%= "■#{@project.project_name}■"%></h1>
  <h2><%= "<ここにプロジェクトの概要なんか載せたらどうだろう。>"%></h2>
</div>

<hr color="#eeeeee">
</pre>

<div style="display:flex">
  <div style="padding: 20px; border-right: solid; width: 20%;">
    <%= link_to "報告する", "#", class: "btn btn-primary button-p10", style: "margin: 10px;" %>
    <br>
    <%= link_to "連絡する", new_user_project_message_path(@user,@project), class: "btn btn-secondary", style: "margin: 10px;" %>
    <br>
    <%= link_to "相談する", "#", class: "btn btn-success", style: "margin: 10px;" %>
  </div>

  <div style="margin: 10px;">
    <div>
      <h2 style="text-align: left;">▼新着情報▼</h2>
      <p><%= "<ここにプロジェクトに関する通知を入れてみるとか。>"%></p>
      <p><%= "<例）○月○日分が未報告です。>"%></p>
      <p><%= "<例）あなたの報告へリアクションがありました。>"%></p>
    </div>

    <table>
      <thead>
        <th>概要</th>
        <th>連絡者</th>
      </thead>

      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td>
              <%= message.title %>
            </td>
            <td>
              <%= User.find(message.sender_id).user_name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>