<% provide(:title, 'Page_after_login') %>

<%= content_for :side_menu do %>
  <%= render 'page_after_login_sidebar' %>
<% end %>

<div class="page-after-login-buttons">
  <div class="row buttons-box">
    <div class="col-md-6 button-box">
      <%= link_to "#", class: "report-link" do %>
        <button class="report-btn">報告</button>
      <% end %>
    </div>
    <div class="col-md-6 button-box">
      <%= link_to "#", class: "contact-link" do %>
        <button class="contact-btn">連絡</button>
      <% end %>
    </div>
    <div class="col-md-6 button-box">
      <%= link_to "#", class: "counseling-link" do %>
        <button class="counseling-btn">相談</button>
      <% end %>
    </div>
    <div class="col-md-6 button-box">
      <%= link_to "#", class: "pdca-link" do %>
        <button class="pdca-btn">PDCA</button>
      <% end %>
    </div>
  </div>
  <%= link_to "戻る", :back, class: "btn btn-light btn-lg float-lg-right btn-outline-dark" %>
</div>
<!--プロジェクト新規登録用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
