<div class="box-you-addressee-index">
  <% if @you_addressee_messages.present? %>
    <%= link_to "あなたへの連絡のCSVエクスポート", export_csv_user_project_messages_path(format: :csv, csv_type: 'you_addressee_messages'), method: :get, class: "btn btn-outline-orange m-2" %>
    <div class="d-flex justify-content-end mb-3 rwd-search-form">
      <%= form_with scope: :search, url: user_project_messages_path(current_user,@project), method: :get, remote: true do |form| %>
        <%= form.hidden_field :search_type, :value => "you-addressee" %>
        
        <%= form.label :created_at, "連絡受信日：", class: "mb-0" %>
        <%= form.date_field :created_at, placeholder: "受信日を入力", value: @search_params && @search_params[:created_at], class: "search-box rwd-search-box" %>                 

        <%= form.label :keywords, "キーワード：", class: "mb-0" %>
        <%= form.text_field :keywords, placeholder: "キーワードを入力", value: @search_params && @search_params[:keywords], class: "search-box rwd-search-box" %>
      
        <%= form.submit "検索", class: "btn btn-outline-orange rwd-submit-btn" %>
      <% end %>      
    </div>
    <div class="table-header">
      <div class="subject-name">
        件名
      </div>
      <div class="message-date">
        連絡日
      </div>
      <div class="message-person">
        連絡者
      </div>
      <div class="message-action">
        確認状況
      </div>
    </div>
    <div class="table-body">
      <% line_num = 0%>
      <% @you_addressee_messages.each do |message|%>
        <% line_num += 1%>
        <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>">
          <div class="subject-name">
            <%= link_to message.title, user_project_message_path(@user, @project, message), class: "message-detail-link" %>
          </div>
          <div class="message-date">
            <%= l(message.created_at, format: :long) %>
          </div>
          <div class="message-person">
              <%= message.sender_name %>
          </div>
          <div class="message-action">
            <% if message.message_confirmers.exists?(message_confirmer_id: current_user.id, message_confirmation_flag: true) %>
              <P>既読</P>
            <% else %>
              <%= link_to "未読", user_project_message_path(@user, @project, message), class: "message-detail-link text-danger font-weight-bold" %>                       
            <% end %>                        
          </div>
        </div>
      <% end %>
    </div>
  <% else @you_addressee_messages.blank? %>
    <P>あなたへの連絡履歴がありません。</P>
  <% end %>
  <div class="d-flex">
    <% if @you_addressee_messages.present?%>
      <div class="paginate">
        <%= paginate @you_addressee_messages, param_name: message_page('you-addressee'), remote: true %>
      </div>
    <% end %>
    <div class="ml-auto">
      <%= link_to "戻る", :back, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
