<% provide(:title, 'message index') %>

<%= content_for :side_menu do %>
  <%= render 'layouts/sidebar' %>
<% end %>

<div class="card-box">
  <!-- div class="box-project-select">
    <%#= form_with do |form| %>
      <%#= form.label :project_id, "プロジェクト選択：" %>
      <%#= form.collection_select(:project_id, @projects, :id, :project_name, {selected: @project.id},
      {class: "index-project-select-box", data: {user_id: "#{@user.id}", "turbolinks" => false, list_type: "message"}}) %>
    <%# end %>
  </div -->
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" id="you-addressee-tab" data-toggle="tab" href="#you-addressee" target="_blank" rel="external nofollow"  role="tab" aria-controls="you-addressee" aria-selected="true">▼ あなた宛の連絡 ▼</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" target="_blank" rel="external nofollow"  role="tab" aria-controls="message" aria-selected="false">▼ 全メンバーの連絡 ▼</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <!-- あなた宛の連絡一覧 -->
        <div class="tab-pane fade show active" id="you-addressee" role="tabpanel" aria-labelledby="you-addressee-tab">
          <div class="box-you-addressee-index">
            <% if @you_addressee_messages.present? %>
              <div class="box-search">
                <%= form_with url: "#", method: :get, local: true do |form| %>
                  <%= form.hidden_field :search_type, :value => "you-addressee" %>
                  <%= form.label :search, "件名検索：", class: "search-label" %>
                  <%= form.text_field :search, placeholder: "キーワードを入力", class: "search-box" %>
                  <%= form.submit "検索", class: "btn btn-outline-orange" %>
                <% end %>
              </div>
              <div class="table-header">
                <div class="subject-name">
                  件名
                </div>
                <div class="message-date">
                  連絡日
                </div>
                <div class="message-person">
                  連絡者
                </div>
                <div class="message-action">
                  この項目の表示内容は考え中
                </div>
              </div>
              <div class="table-body">
                <% line_num = 0%>
                <% @you_addressee_messages.each do |message|%>
                  <% line_num += 1%>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>">
                    <div class="subject-name">
                      <%= link_to message.title, user_project_message_path(@user, @project, message), class: "message-detail-link" %>
                    </div>
                    <div class="message-date">
                      <%= l(message.updated_at, format: :long) %>
                    </div>
                    <div class="message-person">
                        <%= message.sender_name %>
                    </div>
                    <div class="message-action">
                        <%#= link_to "編集", "#", class: "btn btn-outline-orange" %>
                        <%#= link_to "削除", "#", method: :delete, data: { confirm: "投稿された連絡を削除してよろしいですか？" }, class: "btn btn-outline-danger" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else @you_addressee_messages.blank? %>
              <P>あなた宛の連絡履歴がありません。</P>
            <% end %>
            <div class="index-footer">
              <% if @you_addressee_messages.present?%>
                <div class="paginate">
                  <%= paginate @you_addressee_messages %>
                </div>
              <% end %>
              <div class="back-btn">
                <%= link_to "戻る", :back, class: "btn btn-light btn-outline-secondary" %>
              </div>
            </div>
          </div>
        </div>
        <!-- 全メンバーの連絡 -->
        <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
          <div class="box-message-index">
            <% if @messages.present? %>
              <div class="box-search">
                <%= form_with url: "#", method: :get, local: true do |form| %>
                  <%= form.hidden_field :search_type, :value => "message" %>
                  <%= form.label :search, "件名検索：", class: "search-label" %>
                  <%= form.text_field :search, placeholder: "キーワードを入力", class: "search-box" %>
                  <%= form.submit "検索", class: "btn btn-outline-orange" %>
                <% end %>
              </div>
              <div class="table-header">
                <div class="subject-name">
                  件名
                </div>
                <div class="message-date">
                  連絡日
                </div>
                <div class="message-person">
                  連絡者
                </div>
                <div class="message-action">
                  アクション
                </div>
              </div>
              <div class="table-body">
                <% line_num = 0%>
                <% @messages.each do |message|%>
                  <% line_num += 1%>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>">
                    <div class="subject-name">
                      <%= link_to message.title, user_project_message_path(@user, @project, message), class: "report-detail-link" %>
                    </div>
                    <div class="message-date">
                      <%= l(message.updated_at, format: :long) %>
                    </div>
                    <div class="message-person">
                        <%= message.sender_name %>
                    </div>
                    <div class="message-action">
                      <% if message.sender_id == current_user.id %>
                        <%= link_to "編集", "#", class: "btn btn-outline-orange" %>
                        <%= link_to "削除", "#", method: :delete, data: { confirm: "投稿された連絡を削除してよろしいですか？" }, class: "btn btn-outline-danger" %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else @messages.blank?%>
              <P>連絡履歴がありません。</P>
            <% end %>
            <div class="index-footer">
              <% if @messages.present?%>
                <div class="paginate">
                  <%= paginate @messages %>
                </div>
              <% end %>
              <div class="back-btn">
                <%= link_to "戻る", :back, class: "btn btn-light btn-outline-secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
