<div class="col-6 offset-3 p-4">
  <div class="card">
    <div class="card-header card-header-radius">
      <%= @message.title %>
    </div>
    <div class="container p-4 card-body">
      <h3 class="font-weight-bold message-title-box m-3 d-inline">内容</h3>
      <div class="card-text"><%= simple_format(@message.message_detail) %></div>
      <div id="read_button">
        <%= render partial: 'read' %>
      </div>  
      <div id="checked_members">
        <%= render partial: 'checked_members' %>
      </div>  
    </div>
  </div>
</div>
<div class="text-center">
  <%= link_to '戻る', user_project_messages_path(@user,@project),class: "btn btn-light btn-outline-secontary col-2 " %>
</div>