<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="col-6 offset-3 pb-2 my-5 rwd-form">
  <div class="card">
    <div class="card-header card-header-radius">
      <%= @message.title %>
    </div>
    <div class="container p-4 card-body">
      <h3 class="font-weight-bold message-title-box m-3 d-inline">内容</h3>
      <div class="card-text"><%= format_text(@message.message_detail) %></div>
      <h3 class="font-weight-bold message-title-box m-3 d-inline">連絡重要度</h3>
      <div class="card-text"><%= simple_format(@message.importance) %></div>
      <!-- 添付画像の表示 -->
      <%= render "/projects/images/show_image", object: @message %>
      <div id="read_button">
        <%= render partial: 'read' %>
      </div>  
      <div id="checked_members">
        <%= render partial: 'checked_members' %>
      </div>  
    </div>
  </div>
  <div class="text-right mr-4">
    <%= link_to "返信する", anchor: "reply_form" %>
  </div>
</div>
<div class="text-center">  
  <%= link_to '戻る', :back, class: "btn btn-light btn-outline-secontary col-2 " %>
</div>

<div class="col-6 offset-3 pb-2 my-5 rwd-form">  
  <!-- 返信一覧の表示 -->
  <% if @message_replies.size > 0 %>
    <%= render "/projects/message_replys/message_reply_list" %>
  <% end %>
  <!-- 返信フォームの表示 -->
  <%= render "/projects/message_replys/message_reply_form" %>
</div>

<!-- モーダルウィンドウ表示 -->
<div id="show_image" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>