<%= form_with(model: form_display_order, url: create_project_report_format_path(project), local: true, method: :post) do |fdof| %>
  <%= fdof.hidden_field :position, :value => form_display_order.position %>
  <div class="modal-body">
    <%= fdof.fields_for form do |cbf|%>
      <div class="form-option">
        <div class="label-name">
          <%= cbf.label :label_name, "項目名", class: "form-control-label" %>
          <%= cbf.text_field :label_name, class: "form-control", required: true %>
        </div>
        <div class="field-type">
          <%= cbf.label :field_type, "フォームの種類" %>
          <%= cbf.select(:field_type, ApplicationHelper.form_option, {}, class: 'form-control select-form', data: { project_id: "#{project.id}"}) %>
        </div>
      </div>

      <div class="label-box">
        <%= cbf.label :option_string, "選択肢" %>
      </div>

      <div class="form-view-check-box">
        <%= render partial: "check_box_option_string_form", locals: { cbf: cbf } %>
      </div>
      <div class="option-addition-button">
        <%= link_to_add_field( "追加", cbf, :check_box_option_strings, option_string, {} ) %>
      </div>
    <% end %>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">
      キャンセル
    </button>
      <%= fdof.submit "新規登録", class: "btn btn-primary btn-new", id: "project-create" %>
  </div>
<% end %>
