<%= form_with(model: @form_display_order, url: create_project_report_format_path(@project), local: true, method: :post) do |fdof| %>
  <%= fdof.hidden_field :position, :value => @form_display_order.position %>
  <%= fdof.hidden_field :form_table_type, :value => @form_table_value, class: 'form_table_type' %>
  <div class="modal-body">
    <%= fdof.fields_for @form_type do |ftf|%>
      <div class="label-select-form">
        <div class="label-box">
          <%= ftf.label :label_name, "項目名", class: "form-control-label" %>
          <%= ftf.text_field :label_name, class: "form-control", required: true %>
        </div>
        <div class="field-type-box">
          <%= ftf.label :field_type, "フォームの種類" %>
          <%= ftf.select(:field_type, ApplicationHelper.form_option, {}, class: 'form-control select-form', data: { project_id: "#{@project.id}"}) %>
        </div>
      </div>
      <% case @form_table_value %>
      <% when 'text_field'%>
        <div class="form-view-text-field">
          <a>記述式テキスト（短文回答）</a>
        </div>
      <% when 'text_area'%>
        <div class="form-view-text-area">
          <a>記述式テキスト（長文回答）</a>
        </div>
      <% end %>
      <div class="form-view">
        <a>　</a>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">
      キャンセル
    </button>
      <%= fdof.submit "新規登録", class: "btn btn-primary btn-new", id: "project-create" %>
  </div>
<% end %>
