<% case form_type = form_display_order.form_table_type %>
<% when 'radio_button'%>
  <% form_object = form_display_order.radio_button %>
  <% form_object_option_strings = form_object.radio_button_option_strings.all %>
  <% form_array = "radio_button[]" %>
  <% form_options_array = "radio_button_option_strings[]" %>
  <%# association_symbol = :radio_button_option_strings %>
<% when 'check_box'%>
  <% form_object = form_display_order.check_box %>
  <% form_object_option_strings = form_object.check_box_option_strings.all %>
  <% form_array = "check_box[]" %>
  <% form_options_array = "check_box_option_strings[]" %>
  <%# association_symbol = :check_box_option_strings %>
<% when 'select'%>
  <% form_object = form_display_order.select %>
  <% form_object_option_strings = form_object.select_option_strings.all %>
  <% form_array = "select[]" %>
  <% form_options_array = "select_option_strings[]" %>
  <%# association_symbol = :select_option_strings %>
<% end %>
<div class="form" id=<%= "form-#{form_number}" %>>
  <%= f.fields_for form_array, form_object do |fof| %>
    <div class="label-select-form">
      <div class="label-box">
        <%= fof.label :label_name, "項目名" %>
        <%= fof.text_field :label_name, class: 'form-control'%>
      </div>
      <div class="field-type-box">
        <%= fof.label :field_type, "フォームの種類" %>
        <%= fof.select :field_type, ApplicationHelper.form_option, {}, { class: 'form-control' } %>
      </div>
    </div>
    <div class="label-box">
      <%= f.label :option_string, "選択肢" %>
    </div>
    <div class="edit-option-form">
      <%= render partial: 'edit_option_form', collection: form_object_option_strings, as: :form_object_option_string, locals: { fof: fof, form_options_array: form_options_array, form_type: form_type, form_object: form_object} %>
      <div class="option-addition-button">
         <%= link_to('選択肢追加', '#', class: 'edit-add-field btn btn-primary btn-sm') %>
      </div>
    </div>

  <% end %>
  <div class="form-delete-button">
    <%= link_to "このフォームを削除", destroy_project_report_format_path(@project, form_display_order), method: :delete, data: { confirm: "フォームを削除すると、フォームに関連する入力履歴も削除されます。\n削除してよろしいですか？" }, class: "btn btn-primary btn-sm" %>
  </div>
</div>
