<% case question.form_table_type %>
<% when 'text_field' %>
  <% form_type_symbol = :text_field %>
<% when 'text_area' %>
  <% form_type_symbol = :text_area %>
<% when 'date_field' %>
  <% form_type_symbol = :date_field %>
<% end %>
  <div id="form-<%= @form_number %>", draggable="false", class="form">
    <%= f.fields_for 'question_attributes[]', question do |fdof| %>
      <div class ="dorack-area">
        <div class ="dorack-area-before">項目<%= @form_number %></div>
        <div class ="dorack-area-center"></div>
        <div class ="dorack-area-after">
          <div class="report-format-check-box">
            <%= fdof.check_box :using_flag %>
            <%= fdof.label :using_flag, "有効にする", class: "report-format-check-box-label" %>
          </div>
        </div>
      </div>
      <%= fdof.hidden_field :id %>
      <%= fdof.hidden_field :form_table_type %>
      <%= fdof.hidden_field :position, class: "position" %>
      <%= fdof.fields_for form_type_symbol do |ftf| %>
        <%= ftf.hidden_field :id %>
        <div class="label-select-box">
          <div class="label-box">
            <%= ftf.label :label_name, "項目名" %>
            <%= ftf.text_field :label_name, class: 'form-control', required: true %>
          </div>
          <div class="select-box">
            <%= ftf.label :field_type, "フォームの種類" %>
            <%= ftf.select :field_type, ApplicationHelper.form_option, {}, { class: 'form-control', disabled: true } %>
            <%= ftf.hidden_field :field_type %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% case question.form_table_type %>
    <% when 'text_field'%>
      <div class="text-field-box">
        <a>記述式テキスト（短文回答）</a>
      </div>
    <% when 'text_area'%>
      <div class="text-area-box">
        <a>記述式テキスト（長文回答）</a>
      </div>
    <% when 'date_field'%>
      <div class="date-field-box">
        <a>年 / 月 / 日（カレンダー）</a>
      </div>
    <% end %>
    <div class="text-common-box">
      <a>　</a>
    </div>
    <div class="form-delete-button">
      <%= link_to "削除", destroy_project_report_format_path(@project, question), method: :delete, data: { confirm: "フォームを削除すると、フォームに関連する入力履歴も削除されます。\n削除してよろしいですか？" }, class: "btn btn-outline-danger" %>
    </div>
  </div>
