<%= ftf.fields_for form_option_symbol do |osf| %>
  <div class="option-box ml-3", data-form-table-type-value="<%="#{form_table_type_value}"%>", data-question-id="<%="#{question_id}"%>", data-form-index="<%="#{osf.index}"%>">
    <% case form_table_type_value %>
    <% when 'radio_button' %>
      <a class='option-symbol'>&#x25C9;</a>
    <% when 'check_box' %>
      <a class='option-symbol'>&#x2611;</a>
    <% when 'select' %>
      <a class='option-symbol'>&#x25BF;</a>
    <% end %>
    <%= osf.hidden_field :id %>
    <%= osf.text_field :option_string, class: 'form-control', required: true, placeholder: "最大30文字", maxlength: 30 %>
    <%= osf.hidden_field :_destroy, :value => false %>
    <%= link_to '✖︎', "#", class: 'remove-field' %>
  </div>
<% end %>
