<% case question.form_table_type %>
<% when 'radio_button' %>
  <% form_type_symbol = :radio_button %>
  <% form_table_type_value = question.form_table_type %>
  <% form_option_symbol = :radio_button_option_strings %>
<% when 'check_box' %>
  <% form_type_symbol = :check_box %>
  <% form_table_type_value = question.form_table_type %>
  <% form_option_symbol = :check_box_option_strings %>
<% when 'select' %>
  <% form_type_symbol = :select %>
  <% form_table_type_value = question.form_table_type %>
  <% form_option_symbol = :select_option_strings %>
<% end %>

<div id="form-<%= @form_number %>", draggable="false", class="form">
  <%= f.fields_for 'question_attributes[]', question do |fdof| %>
    <div class ="dorack-area">
      <div class ="dorack-area-before">項目<%= @form_number %></div>
      <div class ="dorack-area-center"></div>
      <div class ="dorack-area-after">
        <div class="report-format-check-box">
          <%= fdof.check_box :using_flag %>
          <%= fdof.label :using_flag, "有効にする", class: "report-format-check-box-label" %>
        </div>
      </div>
    </div>
    <div class="text-right">
      <% unless question.form_table_type == 'radio_button' %>
        <%= fdof.check_box :required %>
        <%= fdof.label :required, "必須にする", class: "report-format-check-box-label" %>
      <% end %>
    </div>
    <%= fdof.hidden_field :id %>
    <%= fdof.hidden_field :form_table_type %>
    <%= fdof.hidden_field :position, class: "position" %>
    <%= fdof.fields_for form_type_symbol do |ftf| %>
      <%= ftf.hidden_field :id %>
      <div class="label-select-box">
        <div class="label-box">
          <%= ftf.label :label_name, "項目名" %>
          <%= ftf.text_field :label_name, class: 'form-control', required: true %>
          <%= ftf.label :field_type, "フォームの種類" %>
          <% case question.form_table_type %>
              <% when 'radio_button'%>
                <span class="font-weight-bold">ラジオボタン</span>
              <% when 'check_box'%>
                <span class="font-weight-bold">チェックボックス</span>
              <% when 'select'%>
                <span class="font-weight-bold">セレクトボックス</span>
              <% end %>
          <%= ftf.hidden_field :field_type %>
        </div>
      </div>
      <div class="label-box">
        <%= ftf.label :option_string, "選択肢" %>
      </div>
      <div class="option-form-edit">
        <%= render partial: 'edit_option_form', locals: { ftf: ftf, form_table_type_value: form_table_type_value, form_option_symbol: form_option_symbol, question_id: question.id} %>
        <div class="option-add-btn-box">
          <%= link_to '選択肢追加', '#', class: 'add-field-edit btn btn-outline-orange btn-sm' %>
        </div>
      </div>
    <% end %>

    <div class="form-delete-button">
      <%= link_to "削除", destroy_project_report_format_path(@project, question), method: :delete, data: { confirm: "フォームを削除すると、フォームに関連する入力履歴も削除されます。\n削除してよろしいですか？" }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
