<%= form_with(model: form_display_order, url: create_project_report_format_path(project), local: true, method: :post) do |fdof| %>
  <%= fdof.hidden_field :position, :value => form_display_order.position %>
  <div class="modal-body">
    <%= fdof.fields_for text_field do |tff|%>
      <div class="form-option">
        <div class="label-name">
          <%= tff.label :label_name, "項目名", class: "form-control-label" %>
          <%= tff.text_field :label_name, class: "form-control", required: true %>
        </div>
        <div class="field-type">
          <%= tff.label :field_type, "フォームの種類" %>
          <%= tff.select(:field_type, ApplicationHelper.form_option, {}, class: 'form-control select-form', data: { project_id: "#{project.id}"}) %>
        </div>
      </div>
      <div class="form-view-text-field">
        <a>記述式テキスト（短文回答）</a>
      </div>
      <div class="form-view">
        <a>　</a>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">
      キャンセル
    </button>
      <%= fdof.submit "新規登録", class: "btn btn-primary btn-new", id: "project-create" %>
  </div>
<% end %>
