<div class="report-form">
  <% select = question.select %>
  <% if select.nil?%>
    <span class="report-item-title mb-2 font-weight-bold"><%= answer.question_name %></span><span class="pl-2 font-weight-bold text-danger">※削除された質問です。この項目は削除されます。</span>
    <br>
    <% if !answer.value.blank? %>
      <div class="card-text ml-0">
        <%= raw Rinku.auto_link(answer.value, :all, 'target="_blank"') %>
      </div>
    <% else %>
      <div class="card-text ml-0">
        回答なし
      </div>
    <% end %>
  <% else %>
    <span class="report-item-title mb-2 font-weight-bold"><%= select.label_name %></span>
    <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
    <br>
    <%= f.fields_for :answers, answer do |m| %>
      <%= m.collection_select(:value, select.select_option_strings.all, :option_string, :option_string, { prompt: false } ,{class: "form-control", required: question.required }) %>
    <% end %>
  <% end %>
</div>
