<div class="report-form">
  <% date_field = question.date_field %>
  <% if date_field.nil?%>
    <span class="report-item-title mb-2 font-weight-bold"><%= answer.question_name %></span><span class="pl-2 font-weight-bold text-danger">※削除された質問です。この項目は削除されます。</span>
    <br>
    <% if !answer.value.blank? %>
      <div class="card-text ml-0">
        <%= format_text(answer.value) %>
      </div>
    <% else %>
      <div class="card-text ml-0">
        回答なし
      </div>
    <% end %>
  <% else %>
    <span class="report-item-title mb-2 font-weight-bold"><%= date_field.label_name %></span>
    <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
    <%= f.fields_for :answers, answer do |m| %>
      <% defalutDate = answer.value %>
      <div><%= m.date_field :value, value: defalutDate, class: "form-control", required: question.required %></div>
    <% end %>
  <% end %>
</div>
