<%= form_with(model: @report, url: user_project_reports_path(@user, @project), local: true, method: :post) do |rf| %>
  <div class="base-background-color py-5 rounded">
    <%= rf.hidden_field :id %>
    <%= rf.hidden_field :user_id %>
    <div class="report-form">
      <div class="col-sm-6 pl-0">
        <span class="report-item-title mb-2 font-weight-bold"><%= rf.label  "報告日", class: "mb-0" %></span><span class="pl-2 font-weight-bold text-danger">必須</span>
        <%= rf.select :report_day, 
        @project.report_deadlines.last(7).map{ |report_day| [l(report_day.day, format: :long), report_day.day] },
        { include_blank: false, selected: @project.report_deadlines.last.day}, 
        { class: 'form-control' } %>

      </div>
    </div>
    <div class="report-form">
      <span class="report-item-title mb-2 font-weight-bold"><%= rf.label "件名", class: "mb-0" %></span><span class="pl-2 font-weight-bold text-danger">必須</span>
      <%= rf.text_field :title, class:'form-control form-color', placeholder: "最大30文字", maxlength: 30, required: true %>
    </div>
    <!-- div class="box-project-select">
      <%#= rf.label :project_id, "プロジェクト", class: "title-label" %>
      <%#= rf.collection_select(:project_id, @projects, :id, :name, {selected: @project.id},
      {class: "reprt-project-select-box", data: {user_id: "#{@user.id}", "turbolinks" => false}}) %>
    </div -->
    <% @questions.each do |question| %>
    <%= rf.fields_for :answers do |af|%>
      <%= af.hidden_field :id %>
      <%= af.hidden_field :question_type, value: question.form_table_type %>
      <%= af.hidden_field :question_id, value: question.id%>
      <% case question.form_table_type %>
      <% when 'text_field' %>
        <div class="report-form">
          <span class="report-item-title mb-2 font-weight-bold"><%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "mb-0" %></span>
          <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
          <%= af.text_field :value, class:'form-control form-color', placeholder: "最大30文字", maxlength: 30, required: question.required %>
        </div>
      <% when 'text_area' %>
        <div class="report-form">
          <span class="report-item-title mb-2 font-weight-bold"><%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "mb-0" %></span>
          <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
          <%= af.text_area :value, class:'form-control form-color', placeholder: "最大500文字", maxlength: 500, required: question.required %>
        </div>
      <% when 'date_field' %>
        <div class="report-form">
          <div class="col-sm-6 pl-0">
            <span class="report-item-title mb-2 font-weight-bold"><%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "mb-0" %></span>
            <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
            <%= af.date_field :value, class:'form-control form-color', required: question.required %>
          </div>
        </div>
      <% when 'radio_button' %>
        <div class="report-form">
          <% radio_option = question.radio_button.radio_button_option_strings %>
          <span class="report-item-title mb-2 font-weight-bold"><%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "mb-0" %></span>
          <span class="pl-2 font-weight-bold text-danger">必須</span><br>
          <%= af.collection_radio_buttons(:value, radio_option, :option_string , :option_string, {}, { required: true }) do |r| %>
            <% r.label(class: "radio-label") { r.radio_button(class: "radio-button") + r.text } %>
          <% end %>
        </div>
      <% when 'select' %>
        <div class="report-form">
          <div class="col-sm-6 pl-0">
            <% select_option = question.select.select_option_strings %>
            <span class="report-item-title mb-2 font-weight-bold"><%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "mb-0" %></span>
            <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %>
            <%= af.collection_select(:value, select_option, :option_string, :option_string, {prompt: "選択してください"}, {class: "form-control", required: question.required }) %>
          </div>
        </div>
      <% when 'check_box' %>
        <div class="report-form">
          <% check_option = question.check_box.check_box_option_strings %>
          <span class="report-item-title mb-2 font-weight-bold"><%= af.label :array_value, "#{question.send(question.form_table_type).label_name}", class: "mb-0" %></span>
          <% if question.required %><span class="pl-2 font-weight-bold text-danger">必須</span><% end %><br>
          <%= af.collection_check_boxes(:array_value, check_option, :option_string, :option_string, {prompt: "選択してください", include_hidden: false}) do |c| %>
            <% c.label(class: "check-label") { c.check_box(class: "check-box-option") + c.text } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% end %>
    <!-- 画像添付 -->
    <%= render partial: "/projects/images/images_form", locals: { f: rf} %>
  <div class="text-right mr-4">
    <%= rf.submit '投稿', class: "btn btn-outline-orange" %><br>
  </div>
  </div>
<% end %>
