<%= form_with(model: @report, url: user_project_reports_path(@user, @project), local: true, method: :post) do |rf| %>
  <%= rf.hidden_field :id %>
  <%= rf.hidden_field :user_id %>
  <!-- div class="box-project-select">
    <%#= rf.label :project_id, "プロジェクト", class: "title-label" %>
    <%#= rf.collection_select(:project_id, @projects, :id, :project_name, {selected: @project.id},
    {class: "reprt-project-select-box", data: {user_id: "#{@user.id}", "turbolinks" => false}}) %>
  </div -->
    <% @questions.each do |question| %>
    <%= rf.fields_for :answers do |af|%>
      <%= af.hidden_field :id %>
      <%= af.hidden_field :question_type, value: question.form_table_type %>
      <%= af.hidden_field :question_id, value: question.id%>
      <% case question.form_table_type %>
      <% when 'text_field' %>
        <div class="report-text-field-box">
          <%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "title-label" %>
          <%= af.text_field :value, class: 'report-text' %>
        </div>
      <% when 'text_area' %>
        <div class="report-text-area-box">
          <%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "title-label" %>
          <%= af.text_area :value, class: 'report-area' %>
        </div>
      <% when 'date_field' %>
        <div class="report-date-field-box">
          <%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "title-label" %>
          <%= af.date_field :value, class: 'report-date' %>
        </div>
      <% when 'radio_button' %>
        <div class="report-radio-button-box">
          <% radio_option = question.radio_button.radio_button_option_strings %>
          <%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "title-label" %>
          <%= af.collection_radio_buttons(:value, radio_option, :option_string , :option_string, {}, {}) do |r| %>
            <% r.label(class: "radio-label") { r.radio_button(class: "radio-button") + r.text } %>
          <% end %>
        </div>
      <% when 'select' %>
        <div class="report-select-box">
          <% select_option = question.select.select_option_strings %>
          <%= af.label :value, "#{question.send(question.form_table_type).label_name}", class: "title-label" %>
          <%= af.collection_select(:value, select_option, :option_string, :option_string, {prompt: "選択してください"}, {class: "report-select"}) %>
        </div>
      <% when 'check_box' %>
        <div class="report-check-box">
          <% check_option = question.check_box.check_box_option_strings %>
          <%= af.label :array_value, "#{question.send(question.form_table_type).label_name}", class: "title-label" %>
          <%= af.collection_check_boxes(:array_value, check_option, :option_string, :option_string, {prompt: "選択してください", include_hidden: false}, {}) do |c| %>
            <% c.label(class: "check-label") { c.check_box(class: "check-button") + c.text } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="report-btn">
    <%= rf.submit '投稿', class: "btn btn-outline-orange" %></br>
    <%= link_to "戻る", :back, class: "btn btn-light btn-outline-secondary" %>
  </div>
<% end %>
