<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<h1 class="text-center mt-5">報告の編集</h1>
<% cnt = 1 %>
<div class="container col-10">
  <% if !@report.remanded_reason.nil? && !@report.remanded_reason.blank? %>
    <div class="box-comment">
      <div class="card">
        <div class="card-header card-header-radius">
          コメント
        </div>
        <div class="container p-4 card-body">
          <h3 class="font-weight-bold counseling-title-box m-3 d-inline">内容</h3>
          <div class="card-text"><%= simple_format(@report.remanded_reason) %></div>
        </div>
      </div>
    </div>
  <% end %>
  <%= form_with url: user_project_report_path(current_user,@project),method: :patch do |f| %>
    <div class="box-report">
      <div class="edit-report-header">
        <div class="edit-report-title">
          <a><%= @project.project_name %></a>
        </div>
      </div>
        <% @answers.each do |answer| %>
        <div class="report-form">
          <% case answer.question_type %>
            <% when 'text_field' %>
              <% q_type = 'edit_text_field' %>
            <% when 'text_area' %>
              <% q_type = 'edit_text_area' %>
            <% when 'radio_button' %>
              <% q_type = 'edit_radio_button' %>
            <% when 'select' %>
              <% q_type = 'edit_select' %>
            <% when 'check_box' %>
              <% q_type = 'edit_check_box' %>
            <% when 'date_field' %>
              <% q_type = 'edit_date_field' %>
          <% end %>
          <%= render partial: q_type, locals: { answer: answer, f: f, c: cnt} %>
          <% cnt += 1 %>
        </div>
        <% end %>
        <%# レンダリング %>
    </div>
    <div class="text-right mt-3">
      <%= f.submit '変更', class: "btn btn-outline-orange col-2" %>
    </div>
  <% end %>
</div>
