<% provide(:title, '報告一覧') %>
<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="card-box">
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">報告一覧</h1>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
        <a class="text-white active" id="you-report-tab" data-toggle="tab" href="#you-report" target="_blank" rel="external nofollow"  role="tab" aria-controls="you-report" aria-selected="true">▼ あなたの報告 ▼</a>
        </li>
        <li class="nav-item">
          <a class="text-white" id="report-tab" data-toggle="tab" href="#report" target="_blank" rel="external nofollow"  role="tab" aria-controls="report" aria-selected="false">▼ 他メンバーの報告 ▼</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <!-- あなたの報告一覧 -->
        <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
          <div class="box-report-index">
            <div class="d-flex justify-content-end mb-3">
              <%= form_with url: user_project_reports_path(current_user,@project), method: :get, local: true do |form| %>
                <%= form.hidden_field :search_type, :value => "you-report" %>
                <%= form.label :search, "報告検索：", class: "mb-0" %>
                <%= form.text_field :search, placeholder: "キーワードを入力", class: "search-box" %>
                <%= form.submit "検索", class: "btn btn-outline-orange" %>
              <% end %>
            </div>
            <% if @you_reports.present? %>
              <div class="table-header">
                <div class="subject-name col-md-4">
                  <%=@project.format.title%>
                </div>
                <div class="reported-date col-md-4">
                  報告日
                </div>
                <%# <div class="report-confirmer">
                  確認者
                </div> %>
                <div class="report-action col-md-4">
                  アクション
                </div>
              </div>
              <div class="table-body">
                <% line_num = 0%>
                <% @you_reports.each do |report|%>
                  <% line_num += 1%>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report_<%= report.id %>">
                    <div class="subject-name col-md-4">
                      <%= link_to "#{report.title}", user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                    </div>
                    <div class="reported-date col-md-4">
                      <%= l(report.updated_at, format: :long) %>
                    </div>
                    <%# <div class="report-confirmer">
                      <%= report.report_confirmers.where(report_confirmation_flag: true).count人 %>
                    <%# </div> %>
                    <div class="report-action col-md-4">
                      <%= link_to "編集", edit_user_project_report_path(@user, @project, report), class: "btn btn-outline-orange" %>
                      <%= link_to "削除", user_project_report_path(@user, @project, report), method: :delete, data: { confirm: "投稿された報告を削除してよろしいですか？" }, class: "btn btn-danger" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else @you_reports.blank?%>
              <div class="d-flex justify-content-end">
                <p class="report-none">あなたの報告履歴がありません。</p>
              </div>
            <% end %>
            <div class="d-flex">
              <% if @you_reports.present?%>
                <div class="paginate">
                  <%= paginate @you_reports %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- 他メンバーの報告一覧 -->
        <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
          <div class="box-report-index">
            <div class="d-flex justify-content-end mb-3">
              <%= form_with url: user_project_reports_path(current_user,@project), method: :get, local: true do |form| %>
                <%= form.hidden_field :search_type, :value => "report" %>
                <%= form.label :search, "件名検索：", class: "mb-0" %>
                <%= form.text_field :search, placeholder: "キーワードを入力", class: "search-box" %>
                <%= form.submit "検索", class: "btn btn-outline-orange" %>
              <% end %>
            </div>
            <% if @reports.present? %>
              <div class="table-header">
                <div class="subject-name col-md-4">
                  <%=@project.format.title%>
                </div>
                <div class="reported-date col-md-4">
                  報告日
                </div>
                <div class="report-confirmer col-md-4">
                  報告者
                </div>
                <%# <div class="report-action">
                  アクション
                </div> %>
              </div>
              <div class="table-body">
                <% line_num = 0%>
                <% @reports.each do |report|%>
                  <% line_num += 1%>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report_<%= report.id %>">
                    <div class="subject-name col-md-4">
                      <%= link_to "#{report.title}", user_project_report_path(User.find(report.user_id), @project, report), class: "report-detail-link" %>
                    </div>
                    <div class="reported-date col-md-4">
                      <%= l(report.updated_at, format: :long) %>
                    </div>
                    <div class="report-confirmer col-md-4">
                      <%= report.sender_name %>
                    </div>
                    <%# <div class="report-action"> %>
                      <%# link_to "編集", edit_user_project_report_path(@user, @project, report), class: "btn btn-outline-orange" %>
                      <%# link_to "削除", user_project_report_path(@user, @project, report), method: :delete, data: { confirm: "投稿された報告を削除してよろしいですか？" }, class: "btn btn-danger" %>
                    <%# </div> %>
                  </div>
                <% end %>
              </div>
            <% else @reports.blank?%>
              <div class="d-flex justify-content-end">
                <P class="report-none">他メンバーの報告履歴がありません</P>
              </div>
            <% end %>
            <div class="d-flex">
              <% if @reports.present?%>
                <div class="paginate">
                  <%= paginate @reports %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
