<% provide(:title, '報告履歴') %>
<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="card-box">
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">報告履歴</h1>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
        <a class="text-white active" id="you-report-tab" data-toggle="tab" href="#you-report" target="_blank" rel="external nofollow"  role="tab" aria-controls="you-report" aria-selected="true">▼ あなたの報告 ▼</a>
        </li>
        <li class="nav-item">
          <a class="text-white" id="report-tab" data-toggle="tab" href="#report" target="_blank" rel="external nofollow"  role="tab" aria-controls="report" aria-selected="false">▼ 他メンバーの報告 ▼</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <!-- あなたの報告履歴 -->
        <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
          <div class="box-report-index">
            <% if @you_reports.present? %>
              <div class="d-flex justify-content-start mb-3">
                <!-- 今月の報告ボタン -->
                <%= link_to '今月の報告', user_project_reports_path(user_id: current_user, project_id: @project.id, report_type: 'monthly'), class: "btn btn-outline-orange mx-2" %>
                <!-- 今週の報告ボタン -->
                <%= link_to '今週の報告', user_project_reports_path(user_id: current_user, project_id: @project.id, report_type: 'weekly'), class: "btn btn-outline-orange mx-2" %>
                <!-- 全履歴の報告ボタン -->
                <%= link_to "全履歴", user_project_reports_path(current_user, @project, @reports), class: "btn btn-outline-orange mx-2" %>
              </div>
              <div class="d-flex justify-content-end mb-3 rwd-search-form">
                <%= form_with scope: :search, url: user_project_reports_path(current_user,@project), method: :get, local: true do |form| %>
                  <%= form.hidden_field :search_type, value: "you-report" %>            

                  <%= form.label :created_at, "報告日：", class: "mb-0" %>
                  <%= form.date_field :created_at, placeholder: "報告日を入力", value: @search_params && @search_params[:created_at], class: "search-box rwd-search-box" %>

                  <%= form.label :title, "件名：", class: "mb-0" %>
                  <%= form.text_field :title, placeholder: "件名を入力", value: @search_params && @search_params[:title], class: "search-box rwd-search-box" %>

                  <%= form.label :keywords, "キーワード：", class: "mb-0" %>
                  <%= form.text_field :keywords, placeholder: "件名を入力", value: @search_params && @search_params[:keywords], class: "search-box rwd-search-box" %>
                  
                  <%= form.submit "検索", class: "btn btn-outline-orange rwd-submit-btn" %>
                <% end %>
              </div>            
              <div class="table-header">
                <% if current_user.id == @project.leader_id %>
                  <div class="subject-name col-md-4">
                    <%=@project.format.title%>
                  </div>
                  <div class="reported-date col-md-4">
                    報告日
                  </div>
                  <%# <div class="report-confirmer">
                    確認者
                  </div> %>
                  <div class="report-action col-md-4">
                    アクション
                  </div>
                <% else %>
                  <div class="subject-name col-md-3">
                    <%=@project.format.title%>
                  </div>
                  <div class="reported-date col-md-3">
                    報告日
                  </div>
                  <%# <div class="report-confirmer">
                    確認者
                  </div> %>
                  <div class="report-action col-md-3">
                    アクション
                  </div>
                  <div class="report_read col-md-2.5">
                    リーダー確認状況
                  </div>
                <% end %>
              </div>
              <div class="table-body">
                <% line_num = 0%>
                <% @you_reports.each do |report|%>
                  <% line_num += 1%>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report_<%= report.id %>">
                    <% if current_user.id == @project.leader_id %>
                      <div class="subject-name col-md-4">
                        <%= link_to report.title, user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                      </div>
                      <div class="reported-date col-md-4">
                        <%= l(report.created_at, format: :long) %>
                      </div>
                      <%# <div class="report-confirmer">
                        <%= report.report_confirmers.where(report_confirmation_flag: true).count人 %>
                      <%# </div> %>
                      <div class="report-action col-md-4">
                        <%= link_to "編集", edit_user_project_report_path(@user, @project, report), class: "btn btn-outline-orange" %>
                        <%= link_to "削除", user_project_report_path(@user, @project, report), method: :delete, data: { confirm: "投稿された報告を削除してよろしいですか？" }, class: "btn btn-danger" %>
                      </div>
                    <% else %>
                      <div class="subject-name col-md-3">
                        <%= link_to report.title, user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                      </div>
                      <div class="reported-date col-md-3">
                        <%= l(report.created_at, format: :long) %>
                      </div>
                      <%# <div class="report-confirmer">
                        <%= report.report_confirmers.where(report_confirmation_flag: true).count人 %>
                      <%# </div> %>
                      <div class="report-action col-md-3">
                        <%= link_to "編集", edit_user_project_report_path(@user, @project, report), class: "btn btn-outline-orange" %>
                        <%= link_to "削除", user_project_report_path(@user, @project, report), method: :delete, data: { confirm: "投稿された報告を削除してよろしいですか？" }, class: "btn btn-danger" %>
                      </div>
                      <% if report.report_read_flag == true %>
                        <div class="report_read col-md-2.5">
                          <p>既読</p>
                        </div>
                      <% else %>
                        <div class="report_read col-md-2.5 text-danger font-weight-bold" >
                          <p>未読</p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else @you_reports.blank?%>
              <div class="d-flex justify-content-end">
                <p class="report-none">あなたの報告履歴がありません。</p>
              </div>
            <% end %>
            <div class="d-flex">
              <% if @you_reports.present?%>
                <div class="paginate">
                  <%= paginate @you_reports %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- 他メンバーの報告履歴 -->
        <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
          <div class="box-report-index">
            <% if @reports.present? %>
              <div class="d-flex justify-content-start mb-3">
                <!-- 今月の報告ボタン -->
                <%= link_to '今月の報告', user_project_reports_path(user_id: current_user, project_id: @project.id, report_type: 'monthly'), class: "btn btn-outline-orange mx-2" %>
                <!-- 今週の報告ボタン -->
                <%= link_to '今週の報告', user_project_reports_path(user_id: current_user, project_id: @project.id, report_type: 'weekly'), class: "btn btn-outline-orange mx-2" %>
                <!-- 全履歴の報告ボタン -->
                <%= link_to "全履歴", user_project_reports_path(current_user, @project, @reports), class: "btn btn-outline-orange mx-2" %>
              </div>
              <div class="d-flex justify-content-end mb-3 rwd-search-form">
                <%= form_with scope: :search, url: user_project_reports_path(current_user,@project), method: :get, local: true do |form| %>
                  <%= form.hidden_field :search_type, value: "report" %>                
                  
                  <%= form.label :created_at, "報告日：", class: "mb-0" %>
                  <%= form.date_field :created_at, placeholder: "報告日を入力", value: @search_params && @search_params[:created_at], class: "search-box rwd-search-box" %>
                  
                  <%= form.label :title, "件名：", class: "mb-0" %>
                  <%= form.text_field :title, placeholder: "件名を入力", value: @search_params && @search_params[:title], class: "search-box rwd-search-box" %>

                  <%= form.label :sender_name, "報告者：", class: "mb-0" %>
                  <%= form.text_field :sender_name, placeholder: "報告者を入力", value: @search_params && @search_params[:sender_name], class: "search-box rwd-search-box" %>

                  <%= form.label :keywords, "キーワード：", class: "mb-0" %>
                  <%= form.text_field :keywords, placeholder: "件名を入力", value: @search_params && @search_params[:keywords], class: "search-box rwd-search-box" %>
                  
                  <%= form.submit "検索", class: "btn btn-outline-orange rwd-submit-btn" %>            
                <% end %>
              </div>            
              <div class="table-header">
                <% if current_user.id == @project.leader_id %>
                  <div class="subject-name col-md-3">
                    <%=@project.format.title%>
                  </div>
                  <div class="reported-date col-md-3">
                    報告日
                  </div>
                  <div class="report-confirmer col-md-3">
                    報告者
                  </div>
                  <div class="report_read col-md-2.5">
                    報告確認状況
                  </div>
                <% else %>
                  <div class="subject-name col-md-4">
                    <%=@project.format.title%>
                  </div>
                  <div class="reported-date col-md-4">
                    報告日
                  </div>
                  <div class="report-confirmer col-md-4">
                    報告者
                  </div>
                  <%# <div class="report-action">
                    アクション
                  </div> %>
                <% end %>
              </div>
              <div class="table-body">
                <% line_num = 0%>
                <% @reports.each do |report|%>
                  <% line_num += 1%>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report_<%= report.id %>">
                    <% if current_user.id == @project.leader_id %>
                      <div class="subject-name col-md-3">
                        <%= link_to report.title, user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                      </div>
                      <div class="reported-date col-md-3">
                        <%= l(report.created_at, format: :long) %>
                      </div>
                      <div class="report-confirmer col-md-3">
                        <%= report.sender_name %>
                      </div>
                      <% if report.report_read_flag == true %>
                        <div class="report_read col-md-2.5">
                          <p>既読</p>
                        </div>
                      <% else %>
                        <div class="report_read col-md-2.5 text-danger font-weight-bold" >
                          <p>未読</p>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="subject-name col-md-4">
                        <%= link_to report.title, user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                      </div>
                      <div class="reported-date col-md-4">
                        <%= l(report.created_at, format: :long) %>
                      </div>
                      <div class="report-confirmer col-md-4">
                        <%= report.sender_name %>
                      </div>
                      <%# <div class="report-action"> %>
                        <%# link_to "編集", edit_user_project_report_path(@user, @project, report), class: "btn btn-outline-orange" %>
                        <%# link_to "削除", user_project_report_path(@user, @project, report), method: :delete, data: { confirm: "投稿された報告を削除してよろしいですか？" }, class: "btn btn-danger" %>
                      <%# </div> %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else @reports.blank?%>
              <div class="d-flex justify-content-end">
                <P class="report-none">他メンバーの報告履歴がありません</P>
              </div>
            <% end %>
            <div class="d-flex">
              <% if @reports.present?%>
                <div class="paginate">
                  <%= paginate @reports %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
