<% provide(:title, '報告一覧') %>
<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div id="flash-messages">
  <% unless flash_message_displayed? %>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>"><%= message %></div>
    <% end %>
    <% flash_message_displayed! %>
  <% end %>
</div>

<div class="card-box">
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">報告一覧</h1>
  <% unless @reports_all.blank? %>
  <div class="d-flex justify-content-end mb-3">
    <%= link_to "報告履歴", history_user_project_reports_path(user_id: current_user.id, project_id: @project.id), class: "btn btn-outline-orange" %>
  </div>
  <% end %>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
          <a class="text-white active" id="you-report-tab" data-toggle="tab" href="#you-report" target="_blank" rel="external nofollow"  role="tab" aria-controls="you-report" aria-selected="true">▼ あなたの報告 ▼</a>
        </li>
        <li class="nav-item">
          <a class="text-white" id="report-tab" data-toggle="tab" href="#report" target="_blank" rel="external nofollow"  role="tab" aria-controls="report" aria-selected="false">▼ 他メンバーの報告 ▼</a>
        </li>
        <li class="nav-item">
          <a class="text-white" id="all-report-tab" data-toggle="tab" href="#all-report" target="_blank" rel="external nofollow"  role="tab" aria-controls="all-report" aria-selected="false">▼ 全メンバーの報告 ▼</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <!-- あなたの報告履歴 -->
        <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
          <div id="you-reports-container">
            <%= render partial: 'projects/reports/you_reports', locals: { reports: @you_reports } %>
          </div>
        </div>
        <!-- 他メンバーの報告履歴 -->
        <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
          <div id="reports-container">
            <%= render partial: 'projects/reports/reports', locals: { reports: @reports } %>
          </div>
        </div>
        <!-- 全メンバーの報告履歴 -->
        <div class="tab-pane fade" id="all-report" role="tabpanel" aria-labelledby="all-report-tab">
          <div id="all-reports-container">
            <%= render partial: 'projects/reports/all_reports', locals: { reports: @all_reports } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
