<% provide(:title, '報告一覧') %>
<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="card-box">
  <%# 表示のエラーになるため、一時的に非表示にしています。不要でしたら削除します。 %>
  <!-- div class="box-project-select">
    <%#= form_with do |form| %>
      <%#= form.label :project_id, "プロジェクト選択：" %>
      <%#= form.collection_select(:project_id, @projects, :id, :project_name, {selected: @project.id},
      {class: "index-project-select-box", data: {user_id: "#{@user.id}", "turbolinks" => false, list_type: "report"}}) %>
    <%# end %>
  </div -->
  <p>プロジェクト：<%= @project.project_name %></p>
  <h1 class="center">報告一覧</h1>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" id="you-report-tab" data-toggle="tab" href="#you-report" target="_blank" rel="external nofollow"  role="tab" aria-controls="you-report" aria-selected="true">▼ あなたの報告 ▼</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" target="_blank" rel="external nofollow"  role="tab" aria-controls="report" aria-selected="false">▼ 他メンバーの報告 ▼</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <!-- あなたの報告一覧 -->
        <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
          <div class="box-report-index">
            <% if @you_reports.present? %>
              <div class="box-search">
                <%= form_with url: "#", method: :get, local: true do |form| %>
                  <%= form.hidden_field :search_type, :value => "you-report" %>
                  <%= form.label :search, "#{@report_label_name}検索：", class: "search-label" %>
                  <%= form.text_field :search, placeholder: "キーワードを入力", class: "search-box" %>
                  <%= form.submit "検索", class: "btn btn-outline-orange" %>
                <% end %>
              </div>
              <div class="table-header">
                <div class="subject-name">
                  <%=@project.format.title%>
                </div>
                <div class="reported-date">
                  報告日
                </div>
                <div class="report-confirmer">
                  確認者
                </div>
                <div class="report-action">
                  アクション
                </div>
              </div>
              <div class="table-body">
                <% line_num = 0%>
                <% @you_reports.each do |report|%>
                  <% line_num += 1%>
                  <%# 表示のエラーになるため、一時的に非表示にしています。不要でしたら削除します。 %>
                  <%# subject = report.answers.find_by(question_id: @first_question.id).value %>
                  <%# if subject.blank? %>
                    <%# subject = report.answers.find_by(question_id: @first_question.id).array_value %>
                  <%# end %>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>">
                    <div class="subject-name">
                      <%= link_to "#{report.title}", user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                    </div>
                    <div class="reported-date">
                      <%= l(report.updated_at, format: :long) %>
                    </div>
                    <div class="report-confirmer">
                      <%= report.report_confirmers.where(report_confirmation_flag: true).count %>人
                    </div>
                    <div class="report-action">
                      <%= link_to "編集", edit_user_project_report_path(@user, @project, report), class: "btn btn-outline-orange" %>
                      <%= link_to "削除", "#", method: :delete, data: { confirm: "投稿された報告を削除してよろしいですか？" }, class: "btn btn-outline-danger" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else @you_reports.blank?%>
              <P>あなたの報告履歴がありません。</P>
            <% end %>
            <div class="index-footer">
              <% if @you_reports.present?%>
                <div class="paginate">
                  <%= paginate @you_reports %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- 他メンバーの報告一覧 -->
        <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
          <div class="box-report-index">
            <% if @reports.present? %>
              <div class="box-search">
                <%= form_with url: "#", method: :get, local: true do |form| %>
                  <%= form.hidden_field :search_type, :value => "report" %>
                  <%= form.label :search, "件名検索：", class: "search-label" %>
                  <%= form.text_field :search, placeholder: "キーワードを入力", class: "search-box" %>
                  <%= form.submit "検索", class: "btn btn-outline-orange" %>
                <% end %>
              </div>
              <div class="table-header">
                <%# 表示のエラーになるため、一時的に非表示にしています。不要でしたら削除します。 %>
                <%# <div class="subject-name"> %>
                  <%# @report_label_name %>
                <%# </div> %>
                <div class="reported-date">
                  報告日
                </div>
                <div class="report-person">
                  報告者
                </div>
                <div class="report-action">
                  この項目の表示内容は考え中
                </div>
              </div>
              <div class="table-body">
                <% line_num = 0%>
                <% @reports.each do |report|%>
                
                  <% line_num += 1%>
                  <%# 表示のエラーになるため、一時的に非表示にしています。不要でしたら削除します。 %>
                  <%# subject = report.answers.find_by(question_id: @first_question.id).value %>
                  <%# if subject.blank? %>
                    <%# subject = report.answers.find_by(question_id: @first_question.id).array_value %>
                  <%# end %>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>">
                    <%# 表示のエラーになるため、一時的に非表示にしています。不要でしたら削除します。 %>
                    <%# <div class="subject-name"> %>
                      <%# link_to "#{subject}", user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                    <%# </div> %>
                    <div class="reported-date">
                      <%= l(report.updated_at, format: :long) %>
                    </div>
                    <div class="report-person">
                      <%= report.sender_name %>
                    </div>
                    <div class="report-action">
                      <%# 表示のエラーになるため、一時的に非表示にしています。不要でしたら削除します。 %>
                      <%#= link_to "編集", "#", class: "btn btn-outline-orange" %>
                      <%#= link_to "削除", "#", method: :delete, data: { confirm: "投稿された報告を削除してよろしいですか？" }, class: "btn btn-outline-danger" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else @reports.blank?%>
              <P>他メンバーの報告履歴がありません。</P>
            <% end %>
            <div class="index-footer">
              <% if @reports.present?%>
                <div class="paginate">
                  <%= paginate @reports %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--プロジェクト新規登録、編集用モーダルウインドウ表示-->
<div id="project-new-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel" aria-hidden="true" data-turbolinks="false"></div>
