<h1><%= @project.project_name %></h1>
<h2>報告の登録</h2>
<% cnt = 1 %>
<div class="container col-6">
<%= form_with url: user_project_reports_path(current_user,@project), method: :post do |f| %>
  <ol>
  
  <% @qlist.each do |qt| %>
  <div class="container" style="padding: 5px">
    <li>
    <% case qt.form_table_type %>
      <% when 'text_field' %>
        <% buf = qt.text_field.text_field_contents.new() %>
        <% q_type = 'text_field' %>

      <% when 'text_area' %>
        <% buf = qt.text_area.text_area_contents.new() %>
        <% q_type = 'text_area' %>

      <% when 'radio_button' %>
        <% buf = qt.radio_button.radio_button_contents.new() %>
        <% q_type = 'radio_button' %>
        
      <% when 'select' %>
        <% buf = qt.select.select_contents.new() %>
        <% q_type = 'select' %>

      <% when 'check_box' %>
        <% buf = qt.check_box.check_box_contents.new() %>
        <% q_type = 'check_box' %>
      <% when 'date_field' %>
        <% buf = qt.date_field.date_field_contents.new() %>
        <% q_type = 'date_field' %>
      <% end %>
      <%= render partial: q_type, locals: { pattern: qt ,mo: buf, f: f, c: cnt} %>
      <% cnt += 1 %>
      </li> 
    </div>
    <% end %>
    
  </ol>
  <%# レンダリング %>
  <p class="center" style="padding-top: 30px;"><%= f.submit '投稿', class: "btn btn-primary col-6" %></p>
  <p class="center" style="padding: 10px;"><%= link_to '戻る', user_project_path(@user,@project),class: "btn btn-light btn-outline-dark col-6" %></p>
<% end %>
</div>