
<script type="text/javascript">
<!--
function changeForm() {
  if ($('#formblock').css('display') == 'none') {
    document.getElementById("formblock").style.display = "block";
  } else {
    document.getElementById("formblock").style.display = "none";
  }
}
-->
</script>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="box-project-report">
  <p>プロジェクト：<%= @project.name %></p>
  <h1 class="text-center my-3">報告詳細</h1>
  <div>
    <div class="card">
      <div class="card-header card-header-radius">
        <%= @report.sender_name %>さんの報告
      </div>
      <div class="card-body">
        <div class="container mb-4">
          <div>
            <span class="report-item-title font-weight-bold">報告日</span>
          </div>
          <div class="card-text ml-0 test">
            <%= l(@report.report_day, format: :long)%>
          </div>
        </div>
        <div class="container mb-4">
          <div>
            <span class="report-item-title font-weight-bold">件名</span>
          </div>
          <div class="card-text ml-0 test">
            <%= @report.title %>
          </div>
        </div>
        <% @answers.each do |answer| %>
        <div class="container mb-4">
          <li>
            <span class="report-item-title font-weight-bold">
            <% case answer.question_type %>
            <% when 'text_field' %>
              <% if !TextField.find_by(question_id: answer.question_id).nil?%>
                <%= TextField.find_by(question_id: answer.question_id).label_name %>
              <% else %>
                <%= answer.question_name %>
              <% end %>
            <% when 'text_area' %>
              <% if !TextArea.find_by(question_id: answer.question_id).nil?%>
                <%= TextArea.find_by(question_id: answer.question_id).label_name %>
              <% else %>
                <%= answer.question_name %>
              <% end %>
            <% when 'radio_button' %>
              <% if !RadioButton.find_by(question_id: answer.question_id).nil?%>
                <%= RadioButton.find_by(question_id: answer.question_id).label_name %>
              <% else %>
                <%= answer.question_name %>
              <% end %>
            <% when 'date_field' %>
              <% if !DateField.find_by(question_id: answer.question_id).nil?%>
                <%= DateField.find_by(question_id: answer.question_id).label_name %>
              <% else %>
                <%= answer.question_name %>
              <% end %>
            <% when 'check_box' %>
              <% if !CheckBox.find_by(question_id: answer.question_id).nil?%>
                <%= CheckBox.find_by(question_id: answer.question_id).label_name %>
              <% else %>
                <%= answer.question_name %>
              <% end %>
            <% when 'select' %>
              <% if !Select.find_by(question_id: answer.question_id).nil?%>
                <%= Select.find_by(question_id: answer.question_id).label_name %>
              <% else %>
                <%= answer.question_name %>
              <% end %>
            <% end %>
            </span>
          </li>
          <% if answer.array_value.present? && answer.array_value.count != 0 %>
              <% answer.array_value.each do |buf| %>
                <div class="card-text ml-0 test">
                  <%= buf %>
                </div>
              <% end %>
          <% elsif !answer.value.blank? %>
            <div class="card-text ml-0">
              <%= raw Rinku.auto_link(answer.value, :all, 'target="_blank"') %>
            </div>
          <% else %>
            <div class="card-text ml-0">
              回答なし
            </div>
          <% end %>
        </div>
        <% end %>
        <% if current_user == @user %>
          <div class="text-right mr-4">
            <%= link_to "編集", edit_user_project_report_path(@user, @project, @report), class: "btn btn-light btn-outline-orange col-2" %>
          </div>
        <% end %>

        <div class="text-center">
          <%= link_to '戻る', user_project_reports_path(@user, @project), class: "btn btn-light btn-outline-secontary col-2 " %>
        </div>
      </div>
    </div>
    <div class="text-right mr-4">
      <%= link_to "返信する", anchor: "reply_form" %>
    </div>
  
    <!-- 返信一覧の表示 -->
    <% if @report_replies.size > 0 %>
      <%= render "/projects/report_replys/report_reply_list" %>
    <% end %>
    <!-- 返信フォームの表示 -->
    <%= render "/projects/report_replys/report_reply_form" %>
  </div>
</div>
