
<script type="text/javascript">
<!--
function changeForm() {
  if ($('#formblock').css('display') == 'none') {
    document.getElementById("formblock").style.display = "block";
  } else {
    document.getElementById("formblock").style.display = "none";
  }
}
-->
</script>


<h1><%= @report.sender_name %>さんの報告</h1>
<ol>
  <% @answers.each do |answer| %>
  <div class="container" style="padding: 5px">
  <li>
    <% case answer.question_type %>
    <% when 'text_field' %>
      <%= TextField.find_by(question_id: answer.question_id).label_name %>
    <% when 'text_area' %>
      <%= TextArea.find_by(question_id: answer.question_id).label_name %>
    <% when 'radio_button' %>
      <%= RadioButton.find_by(question_id: answer.question_id).label_name %>
    <% when 'check_box' %>
      <%= CheckBox.find_by(question_id: answer.question_id).label_name %>
      <br>
      <% if answer.array_value.count != 0 %>
        <ul>
          <% answer.array_value.each do |buf| %>
            <li><%= buf %></li>
          <% end %>
        </ul>
      <% elsif %>
        <%= '回答なし' %>
      <% end %>
    <% when 'select' %>
      <%= Select.find_by(question_id: answer.question_id).label_name %>
    <% end %>
    </li>
    <%= answer.value != '' ? answer.value : '回答なし' %>
  </div>
  <% end %>
</ol>
<% if @project.project_leader_id == @user.id %>
  <p><input value="手直ししてもらう" onclick="changeForm()" class="btn btn-danger"></p>
<% end %>
<% if !@report.remanded_reason.nil? && !@report.remanded_reason.blank? %>
    <p>コメント</p>
  <p><%= @report.remanded_reason %></p>
<% end %>
<div id="formblock" style="display: none">
  <%= render partial: 'reason', locals: {report: @report} %>
</div>
<div class="center">
  <%= link_to "編集", edit_user_project_report_path(@user, @project, @report), class: "btn btn-light btn-outline-orange col-2" %>
  <%= link_to '戻る', user_project_reports_path(@user,@project),class: "btn btn-light btn-outline-dark col-2" %>
</div>
