<% provide(:title, '本日の報告状況') %>
<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="card-box">
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">報告状況確認 ：次回報告日は<%= l(@project.next_report_date, format: :long) %></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
              <div class="box-report-index">
                <div class="table-paginate">
                  <div class="row ">
                    <div class="col-md-6"><%= paginate @report_users, :param_name => 'report_users_page' %></div>
                    <div class="col-md-6"><%= paginate @not_report_users, :param_name => 'not_report_users_page' %></div>
                  </div>
                </div>
                <div class="table-header-view-reports">
                  <div class="reported-date col-md-6">
                    報告者名
                  </div>
                  <div class="report-action col-md-6">
                    未報告者名
                  </div>
                </div>
                <div class="table-body">
                  <% line_num = 0%>     
                  <% if @report_users.count >= @not_report_users.count %>
                    <% @report_users.zip(@not_report_users) do |report_user, not_report_user| %>
                      <% line_num += 1%>
                      <div class="table-line" , data-project-index-line-num="<%="#{line_num}"%>" id="you_report">
                        <% unless report_user.nil? %>
                          <div class="reported-date col-md-6">
                            <%= report_user.user_name %>
                          </div>
                        <% end %>
                        <% unless not_report_user.nil? %>
                          <div class="reported-date col-md-6">
                            <%= not_report_user.user_name %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% elsif @report_users.count < @not_report_users.count %>
                    <% @not_report_users.zip(@report_users) do |not_report_user, report_user| %>
                      <% line_num += 1%>
                      <div class="table-line" , data-project-index-line-num="<%="#{line_num}"%>" id="you_report">
                        <% unless report_user.nil? %>
                          <div class="reported-date col-md-6">
                            <%= report_user.user_name %>
                          </div>
                          <div class="reported-date col-md-6">
                            <%= not_report_user.user_name %>
                          </div>
                        <% else %>
                          <div class="reported-date col-md-6" style="background-color: transparent;">
                          </div>
                          <div class="reported-date col-md-6">
                            <%= not_report_user.user_name %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="text-center">報告一覧</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card-body">  
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
              <div class="box-report-index">
                <div class="table-paginate">
                  <div class="row">
                    <div class="col-md-12"><%= paginate @reports, :param_name => 'reports_page' %></div>
                  </div>
                </div>
                <div class="table-header-view-reports">
                  <div class="subject-name col-md-6">
                    報告者名
                  </div>
                  <div class="reported-date col-md-6">
                    件名
                  </div>
                </div>
                <div class="table-body">
                  <% line_num = 0%>
                  <% @reports.each do |report| %>
                    <% line_num += 1%>
                    <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report">
                      <div class="subject-name col-md-6">
                        <%= User.find(report.user_id).user_name %>
                      </div>
                      <div class="reported-date col-md-6">
                        <%= link_to "#{report.title}", user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
