<% provide(:title, '報告集計') %>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar', locals: { user: @user, project: @project } %>
<% end %>

<div class="mt-3 mr-4 ml-4">
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">報告集計</h1>
  <div class="d-flex justify-content-end mb-3">
    <%= render 'projects/reports/weekly_report_graph' %>
    <button type="button" class="btn btn-outline-orange mr-2" data-toggle="modal" data-target="#weekly-graph">
      集計グラフ
    </button>
    <%= link_to "一か月の集計表示", user_project_reports_view_reports_log_month_path, class: "btn btn-outline-orange" %>
  </div>
  <div class="d-flex justify-content-between">
    <div class="mb-3">
      <%= form_with url: user_project_reports_view_reports_log_path, method: :get, local: true do |f| %>
        <%= f.select :weekday, options_for_select([["日", 0], ["月", 1], ["火", 2], ["水", 3], ["木", 4], ["金", 5], ["土", 6]]), { include_blank: true }, class: "search-box" %>
        <%= f.submit "末日の曜日を指定", class: "btn btn-outline-orange btn-block" %>
      <% end %>
    </div>
    <div class="align-self-end mb-3">
      <%= link_to "⇦前週", user_project_reports_view_reports_log_path(current_user, @project, display: @display, date: @week_first_day.prev_day(7)), class: "btn btn-outline-orange mr-1" %>
      <%= link_to "次週⇨", user_project_reports_view_reports_log_path(current_user, @project, display: @display, date: @week_first_day.next_day(7)), class: "btn btn-outline-orange" %>
    </div>
  </div>
  <div class="table-totalling-background">
    <table class="table table-report-totalling">
      <thead class="table-report-totalling-header">
        <tr>
          <th rowspan="2", class="item col-md-2">報告者名</th>
          <th colspan="7", class="item col-md-8">報告日時</th>
          <th rowspan="2", class="item col-md-2">
            <% if @display_days == "percent" %>
              報告率<%= link_to "▼ % ▼", user_project_reports_view_reports_log_path(current_user, @project, display_days: "days", date: @week_first_day ), class: "text-white  ml-2" %>
            <% elsif @display_days == "days" %>
              報告割合<%= link_to "▼ 日数 ▼", user_project_reports_view_reports_log_path(current_user, @project, display_days: "percent", date: @week_first_day ), class: "text-white  ml-2" %>
            <% end %>
          </th>
        </tr>
        <tr class="table-report-totalling-body">
          <% (@week_first_day..@week_last_day).reverse_each do |date| %>
            <th>
              <%= date.strftime("%m/%d") %><br>
              (<%= (%w(日 月 火 水 木 金 土)[date.wday]) %>)
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody class="table-report-totalling-body">
        <% @users.each do |user| %>
          <tr>
            <td class="body"><%= user.name %></td>
            <% (@week_first_day..@week_last_day).reverse_each do |date| %>
              <% user_report = user.reports.find_by(project_id: @project.id, report_day: date) %>
              <td class="body">
                <% if user_report.present? && user_report.created_at.to_date == date %>
                  <%= user_report.created_at.strftime("%m月%d日 %H:%M") %>
                  <br>
                <% else %>
                  <%= "-" %>
                <% end %>
              </td>
            <% end %>
            <td class="body">
              <% reported_days = @project.reports
                                  .joins(user: :project_users)
                                  .where(report_day: @week_first_day..@week_last_day, user_id: user.id, project_users: { member_expulsion: false })
                                  .pluck(:report_day).uniq %>
              <% valid_reported_days = reported_days.select { |day| user.reports.find_by(report_day: day).created_at.to_date == day } %>
              <% total_days = @report_days.count %>
              <% if total_days > 0 %>
                <% if @display_days == "percent" %>
                  <%= valid_reported_days.count * 100 / total_days %>%
                <% elsif @display_days == "days" %>
                  <%= valid_reported_days.count %> 日 / <%= total_days %> 日
                <% end %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="table-report-totalling-footer">
        <tr>
          <td class="item">
            <% if @display == "percent" %>
              一日当たりの<br>
              報告率<%= link_to "▼ % ▼", user_project_reports_view_reports_log_path(current_user, @project, display: "people", date: @week_first_day ), class: "text-white  ml-2" %>
            <% elsif @display == "people" %>
              一日当たりの<br>
              報告割合<%= link_to "▼人数 ▼", user_project_reports_view_reports_log_path(current_user, @project, display: "percent", date: @week_first_day ), class: "text-white  ml-2" %>
            <% end %>
          </td>
          <% (@week_first_day..@week_last_day).reverse_each do |date| %>
            <td class="footer">
              <% if @report_days.any? { |report_day| report_day.day == date } %>
                <% reported_users = 0 %>
                <% @users.each do |user| %>
                  <% user_report = user.reports.find_by(project_id: @project.id, report_day: date) %>
                  <% if user_report.present? && user_report.created_at.to_date == date %>
                    <% reported_users += 1 %>
                  <% end %>
                <% end %>
                <% total_users = @project.users.where(project_users: { member_expulsion: false }).count %>
                <% if @display == "percent" %>
                  <%= reported_users * 100 / total_users %>%
                <% elsif @display == "people" %>
                  <%= reported_users %> 人 / <%= total_users %> 人
                <% end %>
              <% else %>
                -
              <% end %>
            </td>
          <% end %>
          <td class="footer">
            <% total_reported_users = 0 %>
            <% (@week_first_day..@week_last_day).each do |date| %>
              <% @users.each do |user| %>
                <% user_report = user.reports.find_by(project_id: @project.id, report_day: date) %>
                <% if user_report.present? && user_report.created_at.to_date == date %>
                  <% total_reported_users += 1 %>
                <% end %>
              <% end %>
            <% end %>
            <% total_users = @project.users.where(project_users: { member_expulsion: false }).count %>
            <% total_days = @report_days.count %>
            <% if total_days > 0 %>
              <%= ((total_reported_users.to_f / (total_users * total_days)) * 100).to_i %>%
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
