<% provide(:title, '報告状況履歴') %>
<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="card-box">
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">報告状況履歴
  </h1>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
          <div class="box-report-index">
            <div class="d-flex justify-content-end mb-3">
              <%= form_with url: user_project_reports_view_reports_log_path(current_user, @project, display: @display), method: :get, local: true do |f| %>
                <%= f.month_field :date, use_month_numbers: true, discard_day: true, value: @month_field_value, class: "search-box" %>
                <%= f.submit "送信", class: "btn btn-outline-orange mr-4" %>
              <% end %>
              <%= link_to "⇦前月", user_project_reports_view_reports_log_path(current_user, @project, display: @display, date: @first_day.prev_month), class: "btn btn-outline-orange mr-1" %>
              <%= link_to "次月⇨", user_project_reports_view_reports_log_path(current_user, @project, display: @display, date: @first_day.next_month), class: "btn btn-outline-orange" %>
            </div>
            <div class="table-header">
              <div class="subject-name col-md-4">
                報告日
              </div>
              <div class="reported-date col-md-4">
                <% if @display == "percent" %>
                  報告割合<%= link_to "▼ % ▼", user_project_reports_view_reports_log_path(current_user, @project, display: "people", date: @first_day ), class: "text-white  ml-5" %>
                <% elsif @display == "people" %>
                  報告割合<%= link_to "▼ 人 ▼", user_project_reports_view_reports_log_path(current_user, @project, display: "percent", date: @first_day ), class: "text-white  ml-5" %>
                <% end %>
              </div>
              <div class="report-action col-md-4">
                報告者数 / 未報告者数
              </div>
            </div>
            <div class="table-body">
              <% line_num = 0%>
              <% i = 0 %>
              <% @report_days.each do |report_deadline|%>
                <% line_num += 1%>
                <% report_users = report_users(@project, report_deadline) %>
                <% not_report_users = @project.users.all - report_users %>
                <% reports = Report.where(report_day: report_deadline.day).where(remanded: false) %>
                <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report">
                  <div class="subject-name col-md-4">
                    <%= l(report_deadline.day, format: :long) %>
                  </div>
                  <div class="reported-date col-md-4">
                    <% if @display == "percent" %>
                      <%= report_users.count * 100 / @project.users.all.count %>%
                    <% elsif @display == "people" %>
                      <%= report_users.count %>
                      人 /
                      <%= @project.users.all.count %>
                      人
                    <% end %>
                  </div>
                  <div class="report-action col-md-4">
                    <%= report_users.count %>人
                    <button type="button" class="btn btn-outline-orange rounded-circle p-1 mr-4" data-toggle="modal" data-target="#report-user<%= line_num %>">
                      ▼
                    </button>
                    <div class="modal fade bd-example-modal-xl" id="report-user<%= line_num %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl bg-transparent">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">
                              <%= l(report_deadline.day, format: :short) %>
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="container">
                              <div class="row">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th class="border-top-0">報告者名</th>
                                      <th class="border-top-0">件名</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% reports.each do |report| %>
                                      <tr class="view-report-log-link" data-href="/users/<%= report.user_id %>/projects/<%= @project.id %>/reports/<%= report.id %>">
                                        <td class="border-top-0"><%= User.find(report.user_id).name %></td>
                                        <td class="border-top-0 report-title text-primary"><%= report.title %></td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                 </table>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary align-bottom" data-dismiss="modal">戻る</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%= not_report_users.count %>人
                    <button type="button" class="btn btn-outline-orange rounded-circle p-1" data-toggle="modal" data-target="#not-report-user<%= line_num %>">
                      ▼
                    </button>
                    <div class="modal fade bd-example-modal-xl" id="not-report-user<%= line_num %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl bg-transparent">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">
                              <%= l(report_deadline.day, format: :short) %>
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="container">
                              <div class="row">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th class="border-top-0">未報告者名</th>
                                      <th class="border-top-0">リマインド通知</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% not_report_users.each do |user| %>
                                      <tr>
                                        <td class="border-top-0"><%= user.name %></td>
                                        <td class="border-top-0"><button type="button" class="btn btn-outline-orange">送信</button></td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                 </table>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer ">
                            <button type="button" class="btn btn-secondary align-bottom" data-dismiss="modal">戻る</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
