<% provide(:title, '報告集計') %>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar', locals: { user: @user, project: @project } %>
<% end %>

<div class="mt-3 mr-4 ml-4">
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">報告集計</h1>
  <div class="d-flex justify-content-end mb-3">
    <%= link_to "一か月の集計表示", user_project_reports_view_reports_log_month_path, class: "btn btn-outline-orange" %>
  </div>
  <div class="d-flex justify-content-end mb-3">
    <%= link_to "⇦前週", user_project_reports_view_reports_log_path(current_user, @project, display: @display, date: @week_first_day.prev_day(7)), class: "btn btn-outline-orange mr-1" %>
    <%= link_to "次週⇨", user_project_reports_view_reports_log_path(current_user, @project, display: @display, date: @week_first_day.next_day(7)), class: "btn btn-outline-orange" %>
  </div>
  <div class="table-totalling-background">
    <table class="table table-report-totalling">
      <thead class="table-report-totalling-header">
        <tr>
          <th rowspan="2", class="item col-md-2">報告者名</th>
          <th colspan="7", class="item col-md-8">報告日時</th>
          <th rowspan="2", class="item col-md-2">
            <% if @display == "percent" %>
              報告割合<%= link_to "▼ % ▼", user_project_reports_view_reports_log_path(current_user, @project, display: "people", date: @week_first_day ), class: "text-white  ml-2" %>
            <% elsif @display == "people" %>
              報告割合<%= link_to "▼ 人 ▼", user_project_reports_view_reports_log_path(current_user, @project, display: "percent", date: @week_first_day ), class: "text-white  ml-2" %>
            <% end %>
          </th>
        </tr>
        <tr class="table-report-totalling-body">
          <% (@week_first_day..@week_last_day).reverse_each do |date| %>
            <th><%= date.strftime("%m/%d") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="table-report-totalling-body">
        <% @project.users.each do |user| %>
          <tr>
            <td class="body"><%= user.name %></td>
            <% (@week_first_day..@week_last_day).each do |date| %>
              <% reported_users = @project.reports.where(report_day: date).where(remanded: false).select(:user_id).distinct %>
              <% user_report = user.reports.find_by(report_day: date) %>
              <td class="body">
                <% if user_report.present? %>
                  <%= user_report.created_at.strftime("%m月%d日 %H:%M") %>
                  <br>
                <% else %>
                  <%= "-" %>
                <% end %>
              </td>
            <% end %>
            <td class="body">
              <% reported_users = @project.reports.where(report_day: @week_first_day..@week_last_day, remanded: false).pluck(:user_id).uniq %>
              <% if @display == "percent" %>
                <%= reported_users.count * 100 / @project.users.count %>%
              <% elsif @display == "people" %>
                <%= reported_users.count %> 人 / <%= @project.users.count %> 人
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="table-report-totalling-footer">
        <tr>
          <td class="item">一日当たりの報告率</td>
          <td class="footer"></td>
          <td class="footer"></td>
          <td class="footer"></td>
          <td class="footer"></td>
          <td class="footer"></td>
          <td class="footer"></td>
          <td class="footer"></td>
          <td class="footer"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
