<% provide(:title, '報告集計') %>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar', locals: { user: @user, project: @project } %>
<% end %>

<div class="mt-3 mr-4 ml-4">
  <p class="project-name-text">プロジェクト：<%= @project.name %></p>
  <h1 class="text-center">報告集計</h1>
  <div class="d-flex justify-content-end mb-3">
      <%= link_to "一週間の集計表示", user_project_reports_view_reports_log_path, class: "btn btn-outline-orange" %>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <%= form_with url: user_project_reports_view_reports_log_month_path(current_user, @project, display: @display), method: :get, local: true do |f| %>
        <%= f.label :search, "月選択：", class: "mb-0" %>
        <%= f.month_field :date, use_month_numbers: true, discard_day: true, value: @month_field_value, class: "search-box" %>
        <%= f.submit "送信", class: "btn btn-outline-orange mr-4" %>
      <% end %>
      <%= link_to "⇦前月", user_project_reports_view_reports_log_month_path(current_user, @project, display: @display, date: @first_day.prev_month), class: "btn btn-outline-orange mr-1" %>
      <%= link_to "次月⇨", user_project_reports_view_reports_log_month_path(current_user, @project, display: @display, date: @first_day.next_month), class: "btn btn-outline-orange" %>
    </div>
    <div class="table-totalling-background">
      <table class="table table-report-totalling">
        <thead class="table-report-totalling-header">
          <tr>
            <th rowspan="2", class="item col-md-2">日付</th>
            <th colspan=<%= @project.users.all.count %>, class="item col-md-8">報告者名</th>
            <th rowspan="2", class="item col-md-2">
              <% if @display == "percent" %>
                一日当たりの<br>
                報告率<%= link_to "▼ % ▼", user_project_reports_view_reports_log_month_path(current_user, @project, display: "people", date: @first_day ), class: "text-white  ml-2" %>
              <% elsif @display == "people" %>
                一日当たりの<br>
                報告割合<%= link_to "▼人数 ▼", user_project_reports_view_reports_log_month_path(current_user, @project, display: "percent", date: @first_day ), class: "text-white  ml-2" %>
              <% end %>
            </th>
          </tr>
          <tr class="table-report-totalling-body">
            <% @project.users.each do |user|%>
              <th class="body">
                <%= user.name %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody class="table-report-totalling-body">
          <% (@first_day..@last_day).each do |date| %>
            <% reported_users = @project.reports.where(report_day: date).where(remanded: false).select(:user_id).distinct %>
            <tr>
              <td class="body"><%= date.strftime("%m/%d") %></td>
              <% @project.users.each do |user| %>
                <% user_report = user.reports.find_by(report_day: date) %>
                <td class="body">
                  <% if user_report.present? %>
                    <%= user_report.created_at.strftime("%m月%d日 %H:%M") %>
                    <br>
                  <% else %>
                    <%= "-" %>
                  <% end %>
                </td>
              <% end %>
              <td class="body">
                <% if @display == "percent" %>
                  <%= reported_users.count * 100 / @project.users.all.count %>%
                <% elsif @display == "people" %>
                  <%= reported_users.count %>
                  人 /
                  <%= @project.users.all.count %>
                  人
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot class="table-report-totalling-footer">
          <tr>
            <td class="item">
              <% if @display_days == "percent" %>
                一日当たりの<br>
                報告率<%= link_to "▼ % ▼", user_project_reports_view_reports_log_month_path(current_user, @project, display_days: "days", date: @first_day ), class: "text-white  ml-2" %>
              <% elsif @display_days == "days" %>
                一日当たりの<br>
                報告割合<%= link_to "▼日数 ▼", user_project_reports_view_reports_log_month_path(current_user, @project, display_days: "percent", date: @first_day ), class: "text-white  ml-2" %>
              <% end %>
            </td>
            <% @project.users.each do |user| %>
              <td class="footer">
                <% reported_days = @project.reports.where(report_day: @first_day..@last_day, remanded: false, user_id: user.id).pluck(:report_day).uniq %>
                <% total_days = (@first_day..@last_day).count %>
                <% if @display_days == "percent" %>
                  <%= reported_days.count * 100 / total_days %>%
                <% elsif @display_days == "days" %>
                  <%= reported_days.count %> 日 / <%= total_days %> 日
                <% end %>
              </td>
            <% end %>
            <td class="footer">
              <% total_reported_users = 0 %>
              <% total_users = @project.users.count %>
              <% total_days = (@last_day - @first_day + 1) %>
              <% (@first_day..@last_day).each do |date| %>
                <% reported_users = @project.reports.where(report_day: date).where(remanded: false).select(:user_id).distinct %>
                <% total_reported_users += reported_users.count %>
              <% end %>
              <%= ((total_reported_users.to_f / (total_users * total_days)) * 100).to_i %>%
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
</div>