<% provide(:title, '本日の報告状況') %>
<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="card-box">
  <p class="project-name-text">プロジェクト：<%= @project.project_name %></p>
  <h1 class="text-center">本日の報告状況 <%= l(Date.today, format: :short) %> </h1>
  
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
          <div class="box-report-index">
            <div class="table-header">
              <div class="reported-date col-md-6">
                報告者名
              </div>
              <div class="report-action col-md-6">
                未報告者名
              </div>
            </div>
            <div class="table-body">
              <% line_num = 0%>
              <% if @report_users.count >= @not_report_users.count %>
                <% @report_users.zip(@not_report_users) do |report_user, not_report_user| %>
                  <% line_num += 1%>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report">
                    <div class="reported-date col-md-6">
                      <% unless report_user.nil? %>
                        <%= report_user.user_name %>
                      <% end %>
                    </div>
                    <div class="report-action col-md-6">
                      <% unless not_report_user.nil? %>
                        <%= not_report_user.user_name %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <% @not_report_users.zip(@report_users) do |not_report_user, report_user| %>
                  <% line_num += 1%>
                  <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report">
                    <div class="reported-date col-md-6">
                      <% unless report_user.nil? %>
                        <%= report_user.user_name %>
                      <% end %>
                    </div>
                    <div class="report-action col-md-6">
                      <% unless not_report_user.nil? %>
                        <%= not_report_user.user_name %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
                
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
          <div class="box-report-index">
            <div class="table-header">
              <div class="subject-name col-md-4">
                報告者名
              </div>
              <div class="reported-date col-md-4">
                件名
              </div>
              <div class="report-action col-md-4">
                報告日
              </div>
            </div>
            <div class="table-body">
              <% line_num = 0%>
              <% @reports.each do |report| %>
                <% line_num += 1%>
                <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report">
                  <div class="subject-name col-md-4">
                    <%= User.find(report.user_id).user_name %>
                  </div>
                  <div class="reported-date col-md-4">
                    <%= link_to "#{report.title}", user_project_report_path(@user, @project, report), class: "report-detail-link" %>
                  </div>
                  <div class="report-action col-md-4">
                    <%= l(report.updated_at, format: :long) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
