<% provide(:title, '報告状況ログ') %>
<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="card-box">
  <p class="project-name-text">プロジェクト：<%= @project.project_name %></p>
  <h1 class="text-center">報告状況ログ</h1>
  
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="you-report" role="tabpanel" aria-labelledby="you-report-tab">
          <div class="box-report-index">
            

            <div class="table-header">
              <div class="subject-name col-md-4">
                報告日
              </div>
              <div class="reported-date col-md-4">
                報告人数
              </div>
              <%# <div class="report-confirmer">
                確認者
              </div> %>
              <div class="report-action col-md-4">
                未報告者
              </div>
            </div>
            <div class="table-body">
              <% line_num = 0%>
              <% @days.zip(@not_report_users) do |day, users|%>
                <% line_num += 1%>
                <div class="table-line", data-project-index-line-num="<%="#{line_num}"%>" id="you_report">
                  <div class="subject-name col-md-4">
                    <%= l(day[0], format: :long) %>
                  </div>
                  <div class="reported-date col-md-4">
                    <%= @project.users.all.count %>人中 <%= day[1].count('DISTINCT user_id') %> 人
                    
                  </div>
                  <div class="report-action col-md-4">
                    <% if users.count > 2 %>
                      <button type="button" class="btn btn-outline-orange btn-sm" data-toggle="collapse" data-target="#list<%="#{line_num}"%>">未報告者</button>
                      <div id="list<%="#{line_num}"%>" class="collapse">
                        <% users.each do |user| %>
                          <%= user.user_name %>
                          <br>
                        <% end %>
                      </div>
                    <% else %>
                    <br>
                      <% users.each do |user| %>
                        <%= user.user_name %>
                        <br>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
