・お知らせ内容
<p><%= @sender_name %>様より、重要度「<%= @importance %>」の連絡が来ています。</p>
【件名】
<p><%= @title %></p>
【内容】
<p><%= @message_detail %></p>

※【ホウレンソウアプリ】での確認と既読のサインをお願いします。
<p>下記のリンクより確認できます。</p>
<p><%= link_to 'HO_REN_SO_APP', root_url %></p>