<tbody>
  <tr>
    <td><%= project.project_name %></td>
    <td><%= User.find(project.project_leader_id).user_name %></td>
    <td><%= project.users.all.count %></td>
    <td><%= l(project.project_next_report_date, format: :long) %></td>
    <td>
      <% if project.project_leader_id == current_user.id %>
        <%= link_to "詳細", users_user_project_path(@user,project.id), class: "btn btn-primary btn-sm" %>
        <%= link_to "編集", "#", remote: true, class: "btn btn-primary btn-sm" %>
        <%= link_to "削除", "#", method: :delete,data: { confirm: "#{project.project_name}を削除してよろしいですか？" }, class: "btn btn-danger btn-sm" %>
      <% end %>
    </td>
  </tr>
</tbody>
