<hr>
<details>
  <summary>
    <u><%= @report_replies.size %>С╗ХсЂ«У┐ћС┐А</u>
  </summary>
  <hr>
  <% @report_replies.each_with_index do |reply, i| %>
    <!-- ТіЋуе┐УђЁтљЇ -->
    ­ЪЉц<b><%= reply.poster_name %></b>
    <font size="1"><%= l(reply.updated_at, format: :posting) %></font>
    <% if reply.poster_id == current_user.id %>
      <%= link_to "уиежЏєсЂЎсѓІ", edit_user_project_report_report_reply_path(@user,@project,@report,reply,index: i ), class: "btn btn-primary btn-sm", remote: true %>
      <%= link_to "тЅіжЎцсЂЎсѓІ", user_project_report_report_reply_path(@user,@project,@report,reply), class: "btn btn-danger btn-sm", method: :delete, remote: true,
          data: {confirm: "тЅіжЎцсЂЌсЂдсѓѕсѓЇсЂЌсЂёсЂДсЂЎсЂІ№╝Ъ"} %> 
    <% end %>
    <div id="reply-show-<%= i %>">
      <%= render "/projects/report_replys/report_reply_show", reply: reply %>
    </div>
    <br/>
  <% end %>
</details>
<hr>