<div class="col-12 container box-message-format-new pb-2 my-5">
	<label id="reply_form" class="font-weight-bold message-title-box"><font size="3">У┐ћС┐АсЃЋсѓЕсЃ╝сЃа</font></label>
	
	<%= form_with(model: @reply, url: user_project_report_report_replys_path(@user,@project,@report), method: :post) do |f| %>
		<!-- У┐ћС┐АТюгТќЄ -->
		<%= f.text_area :reply_content, class: "col-11 form-control message-area mb-3", rows: "6", placeholder: "У┐ћС┐АсЂЎсѓІРђд", required: true %>
		<!-- ућ╗тЃЈжЂИТіъ -->
		<label class="reply-image-label">
			<span class="btn btn-light"><font size="2">­ЪЊЂућ╗тЃЈсѓбсЃЃсЃЌсЃГсЃ╝сЃЅ</font></span>
			<%= f.file_field :images, multiple: true, accept: 'image/*', class: "reply-image-form" %>
		</label>
		<!-- ТіЋуе┐УђЁтљЇ -->
		<%= f.hidden_field :poster_name, :value => current_user.name %>
		<!-- ТіЋуе┐УђЁID -->
		<%= f.hidden_field :poster_id, :value => current_user.id %>
		<!-- У┐ћС┐АТіЋуе┐ -->
		<div class="text-center mr-4">
			<%= f.submit "ТіЋуе┐сЂЎсѓІ", class: "btn btn-light btn-outline-orange" %>
		</div>
	<% end %>
</div>