<% provide(:title, '友人を招待する') %>
<div class="sessions-new-img">
  <div class="sessions-new-container">
    <div class="container">
      <div class="row justify-content-around">
        <div class="login-box">
          <div class="box-inner">
            <h1 class="box-new-title">友人を招待する</h1>
              <%= form_for(:invitee, url: create_invitation_path(@user, @project)) do |f| %>
                <%= f.label :email, "招待したい人のメールアドレスを入力し、送信ボタンを押してください", class: "email-label" %>
                  <div class="box-email">
                    <%= f.email_field :email, class: 'form-control' %>
                    <%= f.hidden_field :project_leader_id, :value => @user.id %>
                    <%= f.hidden_field :project_id, :value => @project.id %>
                  </div>
                  <div class="center">
                    <%= f.submit "送信", class: "btn btn-block btn-outline-orange" %>
                    <%= link_to "一覧に戻る", :back, class: "btn btn-block btn-outline-secondary" %>
                  </div>  
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
