<% provide(:title, 'メンバー招待') %>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<div class="projects-format col-md-6 offset-md-3">
  <div class="form-content">
    <p class="project-name-text">プロジェクト：<%= @project.project_name %></p>
      <h1 class="box-new-title">メンバーを招待する</h1>
      <%= form_for(:invitee, url: create_invitation_path(@user, @project)) do |f| %>
        <div class="project form-body">
          <div class="project-detail">
              <%= f.label :email, "招待メールアドレス", class: "email-label" %><span class="pl-2 font-weight-bold text-danger">必須</span>
              <div>
                <%= f.email_field :email, class: 'form-control', required: true %>
                <%= f.hidden_field :project_leader_id, :value => @user.id %>
                <%= f.hidden_field :project_id, :value => @project.id %>
              </div>
            </div>
            <div class="text-right mt-3">
              <%= f.submit "送信", class: "btn btn-block btn-outline-orange" %>
            </div>
          </div>
      <% end %>
  </div>
</div>
