<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<% provide(:title, 'ユーザー情報編集') %>
<div class="sessions-new-img">
  <div class="sessions-new-container">
    <div class="container">
      <div class="row justify-content-around">
        <div class="login-box">
          <div class="box-inner">
            <h1 class="box-new-title">ユーザー情報編集</h1>

            <%= render "users/shared/error_messages", resource: resource %>

            <!--  ユーザー情報変更フォーム -->
            <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), method: :put, local: true) do |f| %>

              <!--  ユーザーネーム -->
              <%= f.label :user_name, "名前", class: "email-label" %>
              <div class="box-name">
                <%= f.text_field :user_name, autofocus: true, autocomplete: "name" ,class: "text-name" %>
              </div>

              <!--  メールアドレス -->
              <%= f.label :email, "メールアドレス", class: "email-label" %>
              <div class="box-email">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "text-email" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <!--  変更後パスワード -->
              <div class="box-password">
                <%= f.label :password %>(変更する場合のみ入力)<br />
                <%= f.password_field :password, class: "form-control" %>
                <% if @minimum_password_length %>
                  <em><%= @minimum_password_length %> 文字以上で入力してください</em>     
                <% end %>
              </div>

              <!--  変更後パスワード再入力 -->
              <%= f.label :password_confirmation %><br />
              <div class="box-password">
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>

              <!--  更新ボタン -->
              <div class="center">
                <%= f.submit "ユーザー情報更新", class: "btn btn-block btn-outline-orange" %>
              </div>

            <% end %>
            <div class="center">
            <% bln_leader = resource.project_leader? %>              
            <%= button_to "削除", registration_path(resource_name), data: { confirm: "このユーザーを削除します。よろしいですか？" }, method: :delete, class: "btn btn-block btn-outline-danger", disabled: bln_leader %>
            <% if bln_leader %>
              <p>アカウント削除を行うには、リーダーを務めているプロジェクトが存在しないことが条件となります。</p>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
