<% provide(:title, 'ユーザー情報編集') %>

<%= content_for :side_menu do %>
  <%= render partial: 'layouts/sidebar' , locals: { user: @user, project: @project } %>
<% end %>

<%= render "users/shared/error_messages", resource: resource %>
<div class="projects-format">
  <%= form_with(model: resource, url: user_registration_path, method: :put, local: true, id: "user-edit-form") do |f| %>
  <%# form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="form-content">
      <% if current_user.user_name != "" %>
        <h1 class="text-center"><%= current_user.user_name %>さんの情報編集</h1>
      <% else %>
        <h1 class="text-center">ユーザー編集</h1>
      <% end %>
      <div class="project form-body">
        <div class="project-detail">
          <%= f.label :user_name, "氏名", class:'project-description-label'%><span class="pl-2 font-weight-bold text-danger">必須</span>
          <%= f.text_field :user_name, autofocus: true, autocomplete: "name", class: "form-control form-color", id: "edit_user_name" %>
          <div class="text-danger" id="name-error-message"></div>
        </div>
        <div class="project-detail">
          <%= f.label :email, "メールアドレス", class: "email-label, project-description-label" %><span class="pl-2 font-weight-bold text-danger">必須</span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-color", id: "edit_user_email" %>
          <div class="text-danger" id="email-error-message"></div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>

        <div class="project-detail">
          <%= f.label :password, class:'project-description-label' %><br />
          (変更する場合のみ入力)
          <%= f.password_field :password, class: "form-control form-color", id: "edit_user_password" %>
          <div class="text-danger" id="password-error-message"></div>
        </div>

        <div class="project-detail">
          <%= f.label :password_confirmation, class:'project-description-label' %>
          <%= f.password_field :password_confirmation, class: "form-control form-color", id: "edit_user_password_confirm" %>
          <div class="text-danger" id="password-confirm-error-message"></div>
        </div>
        <div class="text-right my-3">
          <span class='col-md-4 d-inline-flex'>
            <%= f.submit "ユーザー情報更新", class: "btn btn-block btn-outline-orange" %>
          </span>
        </div>
        <div class="text-right">
        <% if bln_leader = resource.project_leader? %>
          <div class='col-md-4 d-inline-flex' title='リーダーは削除できません' data-toggle='tooltip' data-placement='bottom'>
            <%= link_to "削除", registration_path(resource_name), data: { confirm: "このユーザーを削除します。よろしいですか？" }, method: :delete, class: "btn btn-block btn-danger disabled" %>
          </div>
        <% else %>
          <div class='col-md-4 d-inline-flex'>
            <%= link_to "削除", registration_path(resource_name), data: { confirm: "このユーザーを削除します。よろしいですか？" }, method: :delete, class: "btn btn-block btn-danger" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
