
<% provide(:title, 'ユーザー新規登録') %>

<%= render "users/shared/error_messages", resource: resource %>
<div class="projects-format" style="margin:3rem auto auto auto;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-content">
      <h1 class="text-center my-3">ユーザー新規登録</h1>
      <div class="project form-body">
        <div class="project-detail">
          <%= f.label :user_name, "氏名", class:'project-description-label'%><span class="project-required">必須</span>
          <%= f.text_field :user_name, autofocus: true, autocomplete: "name", class: "form-control", id: 'users_name' %>
        </div>
        <div class="project-detail">
          <%= f.label :email, "メールアドレス", class: "email-label, project-description-label" %><span class="project-required">必須</span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id:'users_email' %>
        </div>

        <div class="project-detail">
          <%= f.label :password, class:'project-description-label' %><span class="project-required">必須</span>
          (変更する場合のみ入力)
          <%= f.password_field :password, class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> 文字以上で入力してください</em>     
          <% end %>
        </div>

        <div class="project-detail">
          <%= f.label :password_confirmation, class:'project-description-label' %><span class="project-required">必須</span>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class="center">
          <%= f.submit "新規作成", class: "btn btn-block btn-outline-orange", id: "button_create-user" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="center">
    <%= link_to "ログイン画面に戻る", new_user_session_path, class: "btn btn-block btn-outline-secondary" %>
  </div>  
</div>


